@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header id="sc-header" class="sc-cover sc-cover-sm" role="banner">
    <div class="overlay">
        <div class="sc-container">
            @{ Html.RenderAction("RenderTitleControls", "SiteLayout");}
        </div>
    </div>
</header>