
packages/*
.vs/1352mf/v15/*
Website/App_Data/NuGetBackup/*
Website/App_Data/TEMP/*
Website/App_Data/Logs/UmbracoTraceLog.JanusLapTop.txt
Website/App_Data/*
Website/obj/*
Website/bin/*
Website/obj/Debug/Website.dll
Website/obj/Debug/Website.pdb
Website/obj/Debug/Website.csprojResolveAssemblyReference.cache
Website/obj/Debug/Website.csproj.FileListAbsolute.txt
Website/obj/Debug/Website.csproj.CoreCompileInputs.cache
Website/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApiUnitTest/obj/Debug/ApiUnitTest.csproj.CoreCompileInputs.cache
ApiUnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApiUnitTest/App_Data/NuGetBackup/20180308-140037/CopyLogs/UmbracoBinBackup.log
ApiUnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ApiUnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ApiUnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ApiUnitTest/bin/Debug/*
ApiUnitTest/obj/*
.vs/config/applicationhost.config
Website/App_Data/umbraco.config
Website/App_Data/umbraco.config
.vs/config/applicationhost.config
.vs/1352mf/DesignTimeBuild/.dtbcache
Website/Media/*
.vs/1364gy/v15/.suo
.vs/1364gy/v15/Server/sqlite3/db.lock
.vs/1364gy/v15/Server/sqlite3/storage.ide
.vs/1364gy/v15/Server/sqlite3/storage.ide-shm
.vs/1364gy/v15/Server/sqlite3/storage.ide-wal
.vs/1364gy/DesignTimeBuild/.dtbcache
Website/Code/Attributes/JwtAuthenticationAttribute.cs
Website/Code/Class/GoogleGeocoding.cs
Website/Code/Class/HideAdditionalIdentifiers.cs
Website/Code/Class/HideParamatersAttribute.cs
Website/Code/Class/HideParametersOperationFilter.cs
Website/Code/Class/LogHelper.cs
Website/Code/Class/OptInApiExplorer.cs
Website/Code/Class/ParameterFilter.cs
Website/Code/Class/ResultWithChallenge.cs
Website/Code/Controllers/v1/VersionController.cs
Website/Code/Controllers/v1/UserController.cs
Website/Code/Controllers/v1/TrainingPlansController.cs
Website/Code/Controllers/v1/TeamController.cs
Website/Code/Controllers/v1/PushNotificationController.cs
Website/Code/Controllers/v1/PurposeOfExercisesController.cs
Website/Code/Controllers/v1/PostController.cs
Website/Code/Controllers/v1/NotificationsController.cs
Website/Code/Controllers/v1/MuscleGroupsController.cs
Website/Code/Controllers/v1/MemberController.cs
Website/Code/Controllers/v1/MediaController.cs
Website/Code/Controllers/v1/LikeController.cs
Website/Code/Controllers/v1/FriendsController.cs
Website/Code/Controllers/v1/FollowController.cs
Website/Code/Controllers/v1/FeedController.cs
Website/Code/Controllers/v1/ExperienceLevelsController.cs
Website/Code/Controllers/v1/ExercisesController.cs
Website/Code/Controllers/v1/ExerciseLocationsController.cs
Website/Code/Controllers/v1/EquipmentController.cs
Website/Code/Controllers/v1/CheckinController.cs
Website/Code/Controllers/v1/AchievementsController.cs
Website/Code/Controllers/Tasks/GDPRTaskController.cs
Website/Code/Controllers/Tasks/CacheLoaderController.cs
Website/Code/Class/UserGDPRPackage.cs
Website/Code/RegisterEvents.cs
Website/Code/Sections/GymmioSection.cs
Website/Code/Sections/GymmioSectionTreeController.cs
.vs/1366sc/v15/.suo
.vs/1366sc/v15/Server/sqlite3/db.lock
.vs/1366sc/v15/Server/sqlite3/storage.ide
.vs/1366sc/v15/Server/sqlite3/storage.ide-shm
.vs/1366sc/v15/Server/sqlite3/storage.ide-wal
.vs/*
Website/bin
/Website/images/CalendarIcons
/Website/Views/wigpmgww.gvc~
Website/Views/SC_Home_New.cshtml
