@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="react-subscriptions">
    <div class="sub-cards">
        <div class="sub-card">
            <div class="card-body">
                <div class="card-header"><span>1 Måned</span></div>
                <div class="card-text">
                    <span class="uppertext">
                        Betal en måned forud.
                    </span>
                    <span class="price">149</span>
                    <span class="downtext">Ved månedlig betaling (kr.)</span>
                </div>
                <div class="card-button">
                    <button onclick="GFG_click(this.value)" class="button-border" value="1">Vælg abonnement.</button>
                </div>
            </div>
        </div>

        <div class="sub-card">
            <div class="card-body">
                <div class="card-header"><span>3 Måneder</span></div>
                <div class="card-text">
                    <span class="uppertext">
                        Betal tre måneder forud.
                    </span>
                    <span class="price">134</span>
                    <span class="downtext">Ved kvartalsbetaling (kr.)</span>
                </div>
                <div class="card-button">
                    <button onclick="GFG_click(this.value)" class="button-border" value="3">Vælg abonnement.</button>
                </div>
            </div>
        </div>

        <div class="sub-card">
            <div class="card-body focus">
                <div class="card-header">
                    <span>1 År</span>
                    <div class="ribbon"><span>Mest populære</span></div>
                </div>
                <div class="card-text">
                    <span class="uppertext">
                        Betal tolv måneder forud.
                    </span>
                    <span class="price">124</span>
                    <span class="downtext">Ved årligsbetaling (kr.)</span>
                </div>
                <div class="card-button">
                    <button onclick="GFG_click(this.value)" class="button" value="12">Vælg abonnement.</button>
                </div>
            </div>
        </div>
    </div>
</section>