<div id="sc-photos" class="animate-box">
    <div class="sc-container">
        <div class="row">
            <div class="col-12">
                <h3>See the photos</h3>
            </div>
            <div class="col-12">
                <div class="about-carousel">
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                    <div class="about-carousel-item">
                        <img data-lazy="/media/1423/cool-background.png" alt="backgrounds">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>