@inherits Umbraco.Web.Mvc.UmbracoViewPage
@if (!User.Identity.IsAuthenticated)
{
<div id="leadspin-main-element"></div>

<script type="text/javascript" id="leadspin-script" data-wheel_id="275" data-wheel_code="1583834015" src="https://leadspin.dk/embed/embed.js"></script>
} 

