@inherits UmbracoTemplatePage

@*Refined Spring 2020*@
<section class="header-big">
    <div class="container">
        <div class="title-box">
            <h2>@Umbraco.AssignedContentItem.GetPropertyValue("title")</h2>
            <p class="lead">@Umbraco.AssignedContentItem.GetPropertyValue("subTitle")</p>
        </div>
    </div>
</section>