@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="col-md-6 animate-box">
    <h1>@Umbraco.AssignedContentItem.Value("name1")</h1>
    <p>@Umbraco.AssignedContentItem.Value("introduction")</p>
</div>

