@inherits Umbraco.Web.Mvc.UmbracoViewPage
<hr class="animate-box" style="background-color:orange;" data-animate-effect="fadeInLeft" >
<div class="row pt-5">
    <div class="col-md-5 text-center animate-box " data-animate-effect="fadeInUp">
        <img class="filler-image" src="/media/1657/coach500x600.png" alt="coachfiller">
    </div>
    <div class="col-md-7 animate-box">
        <p>@Umbraco.AssignedContentItem.Value("description")</p>
    </div>
</div>
