@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using StartupCentral.Extensions

@{
	Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Iværksættersparring
                    </h2>
                    <p class="lead">
                        Sparring er en vigtig del af at drive virksomhed. Oftest har man ikke alle svarene selv,
                        derfor er sparring med specialister en stor hjælp.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img loading="lazy" class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>


<main class="sc-guest-sparring">
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Få iværksættersparring</h3>
                        <p>
                            Når du opstarter og driver din virksomhed, er der mange spørgsmål og tvivl, som trænger
                            sig på. Du kan få sparring gennem dit eget netværk, men det er ikke altid
                            tilstrækkeligt. Da der er mange forskellige områder at dække, når man driver en
                            virksomhed. Derfor kan der være behov for at søge faglig sparring andetsteds.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img loading="lazy" class="content-image" src="/media/2380/coaching.svg" alt="Coaching">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Fri iværksættersparring</h3>
                        <p>
                            Som medlem af Startup Central kan du få fri sparring med mere end 65 coaches. Gennem
                            platformen sender du beskeder til
                            vores coaches, som svarer på din henvendelse inden for fem arbejdsdage (men typisk
                            svarer inden for to).
                        </p>
                        <p>
                            Vores coaches yder personlig, 1:1 sparring igennem platformen, men flere af vores
                            coaches er med på en mere personlig
                            tilgang - såsom personlige møder, video- og telefonopkald; dette er op til de
                            enkelte coaches og hvad i sammen aftaler.
                        </p>
                        <p>
                            Det kan hurtigt blive dyrt at købe sig til coaching og sparring. Alt efter
                            kvalifikationer kan en time med en coach
                            sagtens koste 2.000 kr. Om man har en nyopstartet eller etableret virksomhed er
                            2.000 kr./timen mange penge, som kunne
                            bruges andre steder i virksomheden.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Vores coach team</h3>
                        <p>
                            <a class="link" href="#!">Vores coaches</a> består af både nye og erfarne
                            erhvervsfolk, som har stor viden inden
                            for deres område.
                        </p>
                        <p>
                            Flere af vores coaches driver egen virksomhed og kender derfor til dine behov og
                            tvivler. Andre har stillinger inden for
                            den branche, som de tilbyder sparring, nogle sidder endda i lederstillinger i større
                            virksomheder, eksempelvis Ørsted,
                            BDO, team.blue og mange flere. De har dermed den nyeste viden inden for deres
                            område.
                        </p>
                        <p>
                            Dét alle coachene har til fælles er, at de er klar til at hjælpe dig, med alt du har
                            behov for.
                        </p>
                        <p>
                            Vi oplever at de fleste selvstændige og iværksættere søger hjælp inden for områder
                            som:
                        </p>
                        <ul>
                            <li>Jura - GDRP, handelsbetingelser, privatlivspolitik, kontrakter.</li>
                            <li>Marketing - SEO, annoncering, SoMe, e-mail.</li>
                            <li>Salg - salgsstrategi, mindset, leads.</li>
                            <li>Logistik - import, eksport, dropshipping.</li>
                            <li>Forretning - udvikling, ledelse, strategi.</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Sådan fungerer vores coaching</h3>
                        <p>
                            Gennem platformen kan du sende en besked til den coach du søger sparring med. Vores
                            coach har derfra fem arbejdsdage til
                            at svare dig.
                        </p>
                        <span><strong>Hjælper mentaliteten</strong></span>
                        <p>
                            Alle vores coache er frivillige, fordi vi tror på at ved at hjælpe andre med deres
                            iværksætterdrøm, er vi med til at
                            vækste Danmark og dermed skabe bedre vilkår for selvstændige og iværksættere.
                        </p>
                        <span><strong>Stor viden i sin branche</strong></span>
                        <p>
                            Vores coaches er enten erhvervsdrivende eller har stillinger inden for det område de
                            tilbyder sparring. Derfor har de
                            den nyeste viden inden for deres område.
                        </p>
                        <span><strong>Gratis sparring</strong></span>
                        <p>
                            Der er ingen begrænsning på hvor mange coaches du må sparre med eller hvor mange
                            spørgsmål du stiller. Som medlem har du
                            ubegrænset sparring med alle de coaches du har brug for.
                        </p>
                        <span><strong>Aktivt arbejde er uden om Startup Central</strong></span>
                        <p>
                            Coachingen og sparringen indebærer ikke aktive handlinger. Det betyder, at du kan få
                            hjælp til hvordan du håndterer
                            dit spørgsmål, men ikke til den aktive handling. Du får sparring om din enkelte sag,
                            men udførelsen af sagen er ikke
                            en del af medlemskabet.
                        </p>
                        <p>
                            - De enkelte coaches kan derfor opkræve betaling nogle giver dog rabat da du er
                            medlem for at lave et stykke arbejde for dig.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Ansøg om at blive coach</h3>
                        <p>
                            Har du lyst til at blive coach hos os?
                        </p>
                        <p>
                            Sidder du med en helt unik viden inden for dit område, som du rigtig gerne vil
                            hjælpe andre med, så <a href="#!" class="link">kontakt os</a> og vi vil
                            ringe dig op.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>