    @inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

    <div class="content-header">
        <div class="row-container centered">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-1">
                            Dit medlemskab er fuldt fradragsberettiget
                        </h2>
                        <p class="lead">
                            Ifølge skat SL§ 6, stk.1, litra a er dit medlemskab til Startup Central kategoriseret som en
                            driftsomkostning og dermed fuldt fradragsberettiget. Hvad betyder det helt konkret når noget
                            er fradragsberettiget?
                        </p>
                    </div>
                </div>
            </div>
        </div>
<img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
    </div>
    <main id="sc-deductible">
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Hvad er et fradrag?
                        </h3>
                        <p>
                            Når du driver selvstændig virksomhed kan du få fradrag for de udgifter som er forbundet med
                            at skabe virksomhedens indtægt. Det er vigtigt, at du sørger at opbevare dokumentation for
                            udgifterne, hvilket er en betingelse for, at udgiften er fradragsberettiget.
                        </p>
                        <p>
                            Et fradrag erhvervsmæssigt betyder, hvis du har en momsregistreret virksomhed, kan du trække
                            købsmomsen fra, når du køber produkter eller services der bruges til at klare driften i din
                            virksomhed eller servicere kunder. Ved momsindberetning trækkes købsmomsen fra salgsmomsen i
                            den pågældende periode – fuldt fradragsberettiget, menes dermed at der kan fradrages den
                            fulde moms (25%).
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hvorfor er medlemskabet fradragsberettiget?</h3>
                        <p><span>Medlemskabet er fradragsberettiget, da det jf. <em>SL§ 6, stk.1, litra a
                                </em>kategoriseres som en
                                driftsomkostning i virksomheden. Det anses med andre ord, som en omkostning der er med
                                til at skabe
                                virksomhedens indtægt/fremtidige indtægt. </span></p>
                        <p><span>&nbsp;&nbsp;--------------</span></p>
                        <p><em><span>Eksempel på fradraget</span></em></p>
                        <p><span>Du køber et medlemskab hos Startup Central til 186,25 kr./md. inkl moms</span></p>
                        <p><span>Din faktura vil se, således ud: </span></p>

                        <ul>
                            <li><span>Kontingent = 149 kr.</span></li>
                            <li><span>Moms = 37,25 kr.</span>
                                <ul>
                                    <li><span>Beløb til betaling = 186,25 kr.</span></li>
                                </ul>
                            </li>
                        </ul>
                        <p><span>&nbsp;--------------</span></p>
                        <p><span>Dit kontingent koster dermed ”kun” 149 kr., da du vil få din købsmoms retur, dernæst er
                                det en omkostning på
                                149 kr., der påvirker årets resultat i negativ retning. </span></p>
                        <ul>
                            <li><span>Årets resultat før kontingent</span>
                                <ul>
                                    <li><span>O</span>verskud = 1.000 kr.<br><br></li>
                                </ul>
                            </li>
                            <li><span>Årets resultat efter kontingent</span>
                                <ul>
                                    <li>Overskud = 851 kr.</li>
                                </ul>
                            </li>
                        </ul>

                        <p><span>Når året dit regnskabsår er afsluttet skal du betale selskabsskat på 22%, såfremt du er
                                ApS, af årets resultat.
                            </span></p>
                        <ul>
                            <li><span>22% af 1.000 kr = 220 kr. skal betales i skat</span></li>
                            <li><span>22% af 851 kr. = 146,03 kr. skal betales i skat</span></li>
                        </ul>
                        <p><span>&nbsp;&nbsp;--------------</span></p>
                        <p><em><span>Eksempel på bogføring af kontingent: </span></em></p>
                        <p><span>&nbsp;&nbsp;</span></p>
                        <p><span>I mange bogføringsprogrammer, såsom Dinero, Billy og E-conomic bogføres momsen
                                automatisk, hvis du bogfører på
                                den korrekt konto for kontingenter. </span></p>

                        <p><span>Bogføringen kan ske på følgende måde: </span></p>
                        <ul>
                            <li><span>Konto&nbsp; -&nbsp; Kontingenter m/moms -149 kr.</span></li>
                            <li>Konto&nbsp; -&nbsp; Købsmoms -37,25 kr.</li>
                            <li><span>Konto&nbsp; -&nbsp; Bank 186,25 kr.</span></li>
                        </ul>
                        <p><span>&nbsp;&nbsp;--------------</span></p>
                        <p><span>Hvis din bogføring er sat korrekt op, vil du blot skulle bogføre således, og din
                                posteringer vil automatisk
                                fordele sig som eksemplet oven for.</span></p>

                        <ul>
                            <li><span>Konto&nbsp; -&nbsp; Kontingenter m/ moms -186,25 kr.</span></li>
                            <li>Konto&nbsp; -&nbsp; Bank 186,25 kr.</li>
                        </ul>
                        <p><span>&nbsp;&nbsp;--------------</span></p>
                        <p><span>Du er velkommen til at kontakte Camilla Nyvang, fra&nbsp;<a class="link"
                                    href="http://randersbogholderen.dk/">Randers
                                    Bogholderen</a>, i forbindelse med spørgsmål da hun har skrevet denne
                                forklaring.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
