@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="content-header">
        <div class="row-container centered">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-1">
                            Unikke tilbud
                        </h2>
                        <p class="lead">
                            Som medlem af Startup Central får du helt unikke iværksætter tilbud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
    </div>

    <main class="sc-guest-sparepenge">
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Unikke tilbud for medlemmer</h3>
                            <p>
                                Er du ikke medlem endnu, kan du desværre ikke få at vide hvilke unikke tilbud vi
                                tilbyder ekstraordinært til vores medlemmer. Men vi kan love dig for, at du går glip af
                                noget hvis du ikke bruger dem.
                            </p>
                            <p>
                                De unikke tilbud kan få din virksomhed og dig til at nå nye højder. De skaber en unik
                                værdi, som du ikke bør gå glip af. Du ved slet ikke hvor stor betydning disse tilbud
                                har, før du ser dem og tager dem i brug. Tilbuddene kan bruges til både interne og
                                eksterne dele af din virksomhed og dækker en lille del af hvert aspekt af din
                                virksomhed.
                            </p>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img src="/media/2413/tylbud.svg" alt="Tylbud" class="content-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">
                                En lille teaser af hvad du har i vente
                            </h3>
                            <ul>
                                <li>
                                    <strong>Visuel branding</strong>
                                    – skab en unik brandidentitet, gør din virksomhed lækker at se på. På den måde
                                    skaber du synlighed, dit brand vil forblive i kundens hukommelse, du vil skille sig
                                    ud og blive valgt frem for konkurrenten.
                                </li>
                                <li>
                                    <strong>Administrativt arbejde</strong>
                                    – Din hverdag vil blive meget nemmere. Selv uden en relevant uddannelse eller
                                    erfaring vil denne del af din virksomhed blive en leg. Den vil gøre at du får mere
                                    tid til andre aspekter i din virksomhed, du kan fokusere mere på at få kunder, på
                                    den måde er dette tilbud med til at du tjener penge.
                                </li>
                                <li>
                                    <strong>Noget til festlige lejligheder</strong> – Man skal huske at fejre både små
                                    og store sejre.
                                    Det er vigtigt at du fejrer selv de små succeser i virksomheden, de skaber
                                    motivation. En motivation som gør at du opnår dine store mål. Dette tilbud er ideelt
                                    og et must til din succesfest.
                                </li>
                            </ul>
                            <p>
                                Det er kun vores medlemmer som har mulighed, for at se tilbuddene og benytte sig af dem.
                                Derfor skal du være medlem for at se hvad tilbuddene består af.
                            </p>
                            <p>
                                Tilbuddene giver garanteret værdi for dig og din virksomhed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column centered">
                            <p>Bliv medlem nu for at kunne se og bruge tilbuddene</p>
                            <a href="/bliv-medlem/" class="button button--lg button--cta">Tilmeld dig</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>