@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Opstart af virksomhed
                    </h2>
                    <p class="lead">
                        Går du med tanker om at blive iværksætter eller selvstændig? Har du styr på alle
                        områderne der skal til for at lykkes?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>


<main id="sc-guest-startbusiness">
    <section>
        <div class="row-container reversing-columns-rail">
            <div class="row center-align-columns reversing-column">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">Start din virksomhed</h3>
                        <p>
                            Vil du gerne starte din egen virksomhed, men mangler overblikket over de mange
                            aspekter der er på området, skal du læse
                            med her.
                        </p>
                        <p>
                            Det kan være svært at navigere i de mange muligheder og måske en smule skræmmende at
                            starte virksomhed, hvis man ikke
                            har sit forarbejde i orden. Det forberedende arbejde består i at researche: hvordan
                            opstarter du din virksomhed,
                            forretningsplan, økonomisk overblik og meget mere.
                        </p>
                        <p>
                            Hos Startup Central kæmper vi for at gøre det nemt for dig at blive iværksætter og
                            selvstændig.
                        </p>
                        <p>
                            Her giver vi et overblik over alt det du skal have styr på, når du starter egen
                            virksomhed.
                        </p>
                        <div class="inline-elements">
                            <a href="/hvem-vi-hjaelper/#virksomhed" class="button button--lg">Læs mere her</a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2398/buildingblocks.svg" alt="Start din virksomhed">
                    </div>
                </div>
            </div>
            <div class="row center-align-columns reversing-column">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">CVR</h3>
                        <p>
                            CVR står for Det Centrale Virksomhedsregister (CVR) og er et register, der
                            indeholder informationer om danske
                            virksomheder og selskaber. Alle CVR registrerede virksomheder har et
                            identifikationsnummer, som kan sammenlignes med et
                            personligt CPR-nummer. Registeret indeholder alle grundinformationerne om
                            virksomheden tilknyttet CVR-nummeret, bl.a.
                            navn, adresse, start og evt. ophørspunkt, branche og meget mere.
                        </p>
                        <p>
                            Som udgangspunkt skal alle virksomheder i Danmark have et CVR-nummer, der er dog en
                            undtagelse, virksomheder som
                            omsætter for under 50.000 kr. årligt, er ikke forpligtet til at blive registeret med
                            et CVR-nummer.
                        </p>
                        <p>
                            Fordelen ved at have et CVR-nummer er, bl.a. at samarbejdspartnere og kunder finder
                            virksomheden troværdig og at
                            virksomhedens udgifter kan trækkes fra i skat.
                        </p>
                        <p>
                            Få overblikket over hvad CVR koster, hvordan du får et og meget mere.
                        </p>
                        <div class="inline-elements">
                            <a href="/hvem-vi-hjaelper/#cvr" class="button button--lg">Læs mere her</a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2382/cvr-1.svg" alt="CVR">
                    </div>
                </div>
            </div>
            <div class="row center-align-columns reversing-column">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">Selskabsformer</h3>
                        <p>
                            En selskabsform er en måde at organisere din virksomhed på. Der findes flere
                            forskellige selskabsformer; du skal være
                            afklaret med, hvordan du vil organisere din virksomhed før du vælger, da der er
                            forskellige krav hver enkel form skal
                            opfylde.
                        </p>
                        <p>
                            Overordnet er et selskab en selvstændig juridisk enhed. Som udgangspunkt kan
                            kreditorerne kun tage udlæg i
                            indskudskapitalen. Dermed er der ingen personlig hæftelse for ejerne, medmindre
                            disse har stillet garanti for selskabet.
                        </p>
                        <p>
                            Startup Central anbefaler, at du kontakter en jurist - selvom VIRK har en
                            fyldestgørende anvisning, er der mange, som
                            ikke får alle felter udfyldt korrekt. Startup Central har samarbejdspartnere, hvor
                            du, som medlem, kan få gode tilbud
                            hos.
                        </p>
                        <p>
                            Få overblikket over selskabsformerne.
                        </p>
                        <div class="inline-elements">
                            <a href="/hvem-vi-hjaelper/#selskabsformer" class="button button--lg">Læs mere her</a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2390/selskabsformer-1.svg" alt="Selskabsformer">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
