@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
    
    <div class="content-header">
        <div class="row-container centered">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-1">
                            Forretningsplan
                        </h2>
                        <p class="lead">
                            Lav en plan for din virksomhed, for at skabe et overblik. Vi deler herunder vores
                            forretningsplan, som er udarbejdet i samarbejde med 25 business angles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <img class="content-header__image" src="../assets/images/Blog Images/86ffb87572d657f335cd7cd828c70de3.jpg"
            alt=""> -->
<img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
    </div>

    <main id="sc-guest-bp">
        <section>
            <div class="row-container">
                <div class="row center-align-columns">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Hvad er en forretningsplan?</h3>
                            <p>
                                En forretningsplan er en plan, som beskriver dele af din virksomhed og hvordan du
                                planlægger at drive den. Den hjælper med at skabe overblik over din virksomhed. Det er
                                den fyldestgørende plan du lægger, for at skabe succes i din virksomhed. Den danner
                                dermed grundlaget for din virksomhed.
                            </p>
                            <p>
                                Der findes forskellige variationer af forretningsplanen, men ens for dem alle er at den
                                beskriver produkt, målgruppe, økonomi både indtægter og udgifter, samt hvordan fremtiden
                                forventes at se ud.
                            </p>
                            <p>
                                Planen kan ses som en checkliste før du starter virksomhed, så du får tænkt på det hele.
                                Den kan også bruges til allerede etablerede virksomheder, eksempelvis ved
                                omstrukturering eller optagelse af nye forretningsområder.
                            </p>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img class="content-image" src="/media/2394/successfactors.svg" alt="Forretningsplanen">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Hvorfor er en forretningsplan vigtig?</h3>
                            <p>
                                En forretningsplan er vigtig, da du får indblik i og et overblik over din virksomhed og
                                dens potentiale. Du kan holde den op imod dine konkurrenter, for at se hvordan du
                                skiller dig ud og hvad der gør din virksomhed unik, så du er mest attraktiv.
                            </p>
                            <p>
                                En forretningsplan får dig til at gå fra at have en idé til at have en forretningsidé.
                                Den stiller dig alle de relevante spørgsmål, så du bedst muligt er rustet til at starte
                                og drive din virksomhed. De forskellige parametre i planen får dig til at tænke,
                                planlægge og eksekvere i et større omfang.
                            </p>
                            <p>
                                Forretningsplanen er vigtig, fordi du danner idégrundlaget for din virksomhed. Det er et
                                værktøj til at se, hvor du er på vej hen og hvor du måske skal ændre kurs, m.m.
                            </p>
                            <p>
                                Det er et værktøj som skaber værdi løbende. Planen kan være med til at oplære nye
                                medarbejdere, samt at åbne dialog med banker og investorer i forhold til lån og
                                investering, da forretningsplanen beskriver kerneværdierne og planen for din virksomhed.
                                På baggrund af planen kan der tages beslutninger baseret på potentiellet af din
                                virksomhed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Hvad skal en forretningsplan indeholde?</h3>
                            <p>
                                Der er flere varianter af en forretningsplan, vi har udarbejdet en overskuelig skabelon,
                                som du frit kan bruge, den er udarbejdet i samarbejde med 25 business angles.
                            </p>
                            <ul>
                                <li>
                                    <strong>Målsætningen i forretningen.</strong>
                                    Konkretiser planen over dine mål inden for en overskuelig fremtid.
                                </li>
                                <li>
                                    <strong>Team & ressourcer i forretningen.</strong>
                                    Overskueliggør roller, ansvar, essentielle værktøjer samt hvilke interne og eksterne
                                    ressourcer du har til rådighed.
                                </li>
                                <li>
                                    <strong>Produkt-/servicebeskrivelse i forretningen.</strong>
                                    Beskriv hvad din løsning kan, hvordan den fungerer, hvilke krav der er til den, og
                                    hvordan den gøres klar til salg.
                                </li>
                                <li>
                                    <strong>Markedsanalyse i forretningen.</strong>
                                    Skab et overblik over hvem kunden er, hvor de findes og deres generelle behov i takt
                                    med, at du sammenligner din forretning med konkurrenterne.
                                </li>
                                <li>
                                    <strong>Økonomi i forretningen.</strong>
                                    Tag stilling til hvor indtægter og udgifter (budget) kommer fra.
                                </li>
                                <li>
                                    <strong>Finansiering i forretningen.</strong>
                                    Planlæg hvordan du skaffer midler til at finansiere virksomhedens opstart, drift,
                                    m.m. (Ikke nødvendigt medmindre du aktivt søger investering).
                                </li>
                                <li>
                                    <strong>Salg & markedsføring i forretningen.</strong>
                                    Beskriv prisen på produktet, hvordan du har udregnet prisen, hvordan du har tænkt
                                    dig at komme ud til din målgruppe – både i form af aktivt salg og markedsføring.
                                </li>
                                <li>
                                    <strong>Juridisk behov i forretningen.</strong>
                                    Klargør evt. ejerforhold, virksomhedsform, moms, jurist som kontaktperson, m.m.
                                </li>
                            </ul>
                            <p>
                                Forretningsplanen er et fleksibelt værktøj, som ændrer sig i takt med, at der sker
                                udvikling i din virksomhed. Du kan til enhver tid ændre i nogle af parametrene, vær dog
                                opmærksom på at ændring af et parameter påvirker de andre. Da alle parametre er
                                forbundet gennem din virksomhed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Vores forretningsplan</h3>
                            <p>
                                Online findes der mange skabeloner af forretningsplaner, som alle ligner hinanden og
                                dermed er ukonkrete og ikke så brugervenlige.
                            </p>
                            <p>
                                Vi har gjort vores forretningsplan nem og overskuelig, med forståelse for at ikke alle
                                har en baggrund inden for finans, økonomi, jura eller andet.
                            </p>
                            <p>
                                Vi guider dig igennem alle forretningsplanens parametre, så du er klar til at drive
                                virksomhed. Er der områder du er i tvivl om, er du altid velkommen til at kontakte
                                relevante coaches.
                            </p>
                            <p>
                                Vores forretningsplan er udarbejdet i samarbejde med 25 business angles, som er blevet
                                adspurgt følgende:
                            </p>
                            <ul>
                                <li>
                                    <strong>
                                        ”Hvilke punkter ville være vigtig for dig at gå igennem, hvis du skulle starte
                                        igen med den erfaring du har tillært?”
                                    </strong>
                                </li>
                                <li>
                                    <strong>
                                        ”Hvilke punkter er vigtige at iværksætteren tager stilling til hvis du skulle
                                        kigge på investering?”
                                    </strong>
                                </li>
                            </ul>
                            <p>
                                Spørgsmålene har resulteret i vores forretningsplan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <div class="bp-box">
                                <div class="bp-box-content">
                                    <div class="column-header column">
                                        <p>Indhold</p>
                                    </div>
                                    <div class="column-header column">
                                        <p>Vores Forretningsplan</p>
                                    </div>
                                    <div class="column-header column">
                                        <p>Andres Forretningsplan</p>
                                    </div>

                                    <div class="column">
                                        <p>Standard punkter</p>
                                    </div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>

                                    <div class="column">
                                        <p>Uddybende spørgsmål til punkter </p>
                                    </div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>
                                    <div class="column"></div>

                                    <div class="column">
                                        <p>Special udviklet digitalt værktøj </p>
                                    </div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>
                                    <div class="column"></div>

                                    <div class="column">
                                        <p>Brugervenlig</p>
                                    </div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>
                                    <div class="column"></div>

                                    <div class="column">
                                        <p>Intuitiv</p>
                                    </div>
                                    <div class="column">                                        <svg id="Check-Circle" xmlns="http://www.w3.org/2000/svg" width="42" height="42"                                             viewBox="0 0 42 42">                                             <path id="Path_84" data-name="Path 84" d="M0,0H42V42H0Z" fill="none" />                                             <path id="Path_85" data-name="Path 85"                                                 d="M19.5,2A17.5,17.5,0,1,0,37,19.5,17.506,17.506,0,0,0,19.5,2Zm0,31.5a14,14,0,1,1,14-14A14.019,14.019,0,0,1,19.5,33.5Zm6.79-20.493L16,23.3l-3.29-3.29a1.745,1.745,0,1,0-2.468,2.468l4.533,4.532a1.743,1.743,0,0,0,2.467,0L28.775,15.475a1.743,1.743,0,0,0,0-2.468,1.764,1.764,0,0,0-2.485,0Z"                                                 transform="translate(1.5 1.5)" fill="#ff4a59" />                                         </svg></div>
                                    <div class="column"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column centered">
                            <p>
                                Få en skabelon af vores unikke forretningsplan og før din forretningsidé ud i livet.
                            </p>
                            <a href="/bliv-medlem" class="button button--lg button--cta">Tilmeld dig</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>