@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Opstart af virksomhed
                    </h2>
                    <p class="lead">
                        Går du med tanker om at blive iværksætter eller selvstændig? Har du styr på alle
                        områderne der skal til for at lykkes?
                    </p>
                </div>
            </div>
        </div>
    </div>
<img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>


<main id="sc-guest-howdowehelp">
    <section id="virksomhed">
        <div class="row-container reversing-columns-rail">
            <div class="row center-align-columns">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">Start din virksomhed</h3>
                        <p>
                            Er du ved at starte din egen virksomhed, men det hele virker lidt overvældende? Der
                            er mange områder du skal holde styr
                            på, for at få din iværksætterdrøm til at lykkes.
                        </p>
                        <p>
                            Det hele handler om forarbejdet. Hvis du har dit forarbejde i orden, vil du hurtigt
                            kunne komme i gang med din
                            virksomhed. Vi vil gerne give dig overblikket, på den måde fungerer vi som
                            springbrættet for din virksomhed.
                        </p>
                        <p>
                            Hos Startup Central vil vi nemlig gøre det nemt og overskueligt at blive iværksætter
                            og selvstændig.
                        </p>
                        <p>
                            Forarbejdet består i at researche lovmæssige forsikringer og tilladelser, økonomisk
                            overblik og meget mere.
                        </p>
                        <p>
                            Vi giver herunder et overblik over alt det du skal have styr på, når du starter din
                            virksomhed.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2398/buildingblocks.svg" alt="Start din virksomhed">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Sådan opstarter du en virksomhed</h3>
                        <p>
                            Hos Startup Central kæmper vi for at gøre det nemt for dig at blive iværksætter og
                            selvstændig.
                        </p>
                        <p>
                            Når du er i opstartsfasen af din virksomhed, er der fem områder du skal være helt
                            afklaret med. De fem områder giver dig et indblik i, om din forretningsidé har
                            potentiale og et overblik over din vej ind i iværksættermiljøet.
                        </p>
                        <p>
                            Følg de fem nedstående tips og bliv godt udrustet:
                        </p>
                        <ol>
                            <li>Ha’ styr på din forretningsplan</li>
                            <li>Vælg den rette virksomhedsform</li>
                            <li>Hold et økonomisk overblik</li>
                            <li>Skab et overblik over lovmæssige forsikringer og tilladelser</li>
                            <li>Hvad koster det at starte virksomhed?</li>
                        </ol>
                        <p>
                            Har du spørgsmål til ovenstående eller har du brug for en uddybelse af dem inden du
                            investerer alle dine kræfter i dit iværksætteri, er du meget velkommen til at
                            <a href="/kontakt/" class="link">kontakte</a> os; vi er klar til at hjælpe dig.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Ha’ styr på din forretningsplan
                        </h3>
                        <p>
                            Det er vigtigt at du har styr på din forretningsplan, inden du starter din rejse som
                            iværksætter eller selvstændig. En forretningsplan indeholder flere forskellige
                            parametre, som man skal have styr på. Formålet med planen er at give et indblik i,
                            og et overblik over, din forretningsidé samt dens potentiale. Den danner dermed
                            grundlaget for din virksomhed.
                        </p>
                        <p>
                            Forretningsplaner ser forskellig ud - alt efter hvem man spørger. Vi foreslår en
                            model som vi har udarbejdet i samarbejde med 25 business angles. Vi har udarbejdet
                            en skabelon som er nem og overskuelig at gå i gang med for alle. Den indeholder otte
                            parametre:
                        </p>
                        <ul>
                            <li>Klarlæg målsætningen i forretningen</li>
                            <li>Konkretiser team og ressourcer i forretningen</li>
                            <li>Beskrive produkt-/servicebeskrivelse i forretningen</li>
                            <li>Beskriv markedsanalysen i forretningen</li>
                            <li>Klarlæg økonomien i forretningen</li>
                            <li>Planlæg finansieringen i forretningen</li>
                            <li>Beskriv salg og markedsføring i forretningen</li>
                            <li>Klargør juridisk behov i forretningen</li>
                        </ul>
                        <p>
                            Hvert enkelt parameter udgør en vigtig del af din virksomhed, der giver gode chancer
                            for succes.
                        </p>
                        <p>
                            Få en uddybelse af forretningsplanen <a href="/forretningsplanen/" class="link">her</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Vælg den rette virksomhedsform
                        </h3>
                        <p>
                            Der findes flere forskellige typer af virksomheder; alle med forskellige fordele (og
                            ulemper). Det er vigtigt at vide hvilken form du vil gå med, da det har betydning
                            for dine forretningsrammer.
                        </p>
                        <p>
                            Startup Central kan hjælpe dig med at blive afklaret omkring, hvilken der er det
                            bedste match for dig. Vi giver dig her en kort beskrivelse af fordele og ulemper af
                            nedenstående virksomhedstyper.
                        </p>
                        <ul>
                            <li>Enkelmandsvirksomhed</li>
                            <li>Interessentvirksomhed</li>
                            <li>Anpartsselskab</li>
                            <li>Aktieselskab</li>
                            <li>Fonde og foreninger</li>
                        </ul>
                        <p>
                            Det er muligt at omdanne sin virksomhed, men der er en masse omkostninger ved dette.
                            Eksempelvis; omdanner du din enkelmandsvirksomhed til et anpartsselskab, er der
                            bl.a. omkostninger i form af advokat og revisor. Derfor er det vigtigt, at du har
                            styr på hvilken form for virksomhed du vil etablere fra start.
                        </p>
                        <span><strong>Enkelmandsvirksomhed</strong></span>
                        <p>
                            Enkelmandsvirksomhed er en af de mest udbredte former. Som navnet hentyder, er det
                            en virksomhed med én ejer. Virksomhedsejeren er ene om at træffe beslutninger på
                            virksomhedens vegne. Det er hurtigt og nemt at oprette sig på VIRK, hvor du modtager
                            dit CVR-nummer og bliver momsregistreret, derefter er du i gang, uden at lægge nogen
                            startkapital.
                        </p>
                        <p>
                            Du skal dog være opmærksom på, at du selv hæfter med hele din personlige formue.
                        </p>
                        <span><strong>Interessentvirksomhed (I/S)</strong></span>
                        <p>
                            En interessentvirksomhed er for dig, som gerne vil starte virksomhed sammen med
                            andre. Virksomheden består af mindst to ejere - og kaldes interessenter; det kan
                            både være personer og virksomheder. Udover antallet af ejere, er denne
                            virksomhedsform meget lig enkelmandsvirksomheden; der er ikke krav om startkapital
                            og ejerne hæfter personligt og solidarisk for virksomhedsgælden.
                        </p>
                        <p>
                            Det vil være en god idé at udarbejde en interessentskabskontrakt, så alle
                            interessenter er enige om betingelserne virksomheden oprettes under.
                        </p>
                        <span><strong>Anpartsselskab (ApS)</strong></span>
                        <p>
                            Anpartsselskabet kan stiftes af en eller flere personer og/eller virksomheder, som
                            kaldes anpartshavere. Selskabet inddeles i anparter oftest efter ejernes økonomiske
                            indskud. Der er et kapitalkrav på minimum 40.000 kr., samt et krav om en direktion.
                            Ejers hæftelse er begrænset til de 40.000 kr., der bliver, med andre ord, ikke rørt
                            ved din personlige formue.
                        </p>
                        <p>
                            Derfor er en udarbejdelse af ejeraftale hensigtsmæssig. Selskabet skal oplyses til
                            Erhvervsstyrelsen, som offentliggør selskabets regnskab.
                        </p>
                        <span><strong>Aktieselskab (A/S)</strong></span>
                        <p>
                            Et aktieselskab ligner meget et anpartsselskab. Her er der dog et kapitalkrav på
                            minimum 400.000 kr., samt et krav om en bestyrelse eller tilsynsråd. Selskabet kan
                            have en eller flere ejere, kaldt aktionærer; aktionærerne kan både være personer og
                            virksomheder. Selskabet inddeles i aktier og oftest efter aktionærernes økonomiske
                            indskud.
                        </p>
                        <p>
                            Du skal vælge denne form for virksomhed, hvis du gerne vil børsnoteres - her kommer
                            du til at virke troværdig og pålidelig. Dette er vigtigt, hvis du vil byde på store
                            offentlige tilbud, eller du skal have længerevarende kontrakter med andre
                            virksomheder.
                        </p>
                        <span><strong>Fonde og foreninger</strong></span>
                        <p>
                            Når du stifter en fond, eller forening, skal du være opmærksom på, om den stiftes
                            som erhvervsdrivende eller ikke-erhvervsdrivende.
                        </p>
                        <p>
                            Som erhvervsdrivende kræves det at årsregnskabet aflægges til Erhvervs- og
                            Selskabsstyrelsen.
                        </p>
                        <p>
                            Som ikke-erhvervsdrivende er det kun et krav at aflægge årsregnskab, hvis der er
                            aktiver for over 250.000 kr. i fonden eller foreningen.
                        </p>
                        <p>
                            Der er et par betingelser for at kunne stifte en fond eller forening:
                        </p>
                        <ul>
                            <li>Fonden/foreningen skal have et eller flere formål.</li>
                            <li>
                                Grundkapitalen er på minimum 300.000 kr., som stifteren ikke kan få
                                tilbagebetalt.
                            </li>
                            <li>
                                Stifteren må ikke indgå som del af ledelsen, det er for at undgå privat
                                interesse.
                            </li>
                        </ul>
                        <span><strong>Hvilken form skal du vælge?</strong></span>
                        <p>
                            Det hele virker måske en smule uoverskueligt og svært at gennemskue hvilken form der
                            bedst passer dig og din virksomheds behov. Hvis det korte overblik ikke gav dig nok
                            klarhed, er vores <a href="/coaches/#All" class="link">coaches</a> klar til at vejlede dig,
                            eller du kan spørger vores
                            netværk af erfarne erhvervsfolk i <a href="https://www.facebook.com/groups/startup.lounge/" class="link">Startup Lounge</a>.
                        </p>
                        <p>
                            Din situation afgør hvilken form der er bedst, det er dog værd at bemærke, at du som
                            ejer er bedre sikret i et selskab end en virksomhed. Når det er sagt, kan det være
                            svært at skrabe 40.000 kr. sammen til selskabskapital. Valget er afhængig af dine
                            behov og de muligheder du har økonomisk.
                        </p>
                        <p>
                            Vil du have et større indblik i, hvilken form du skal vælge så læs <a href="/blogs/personlig-virksomhed-eller-selskab/"
                                                                                                  class="link">her</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hold et økonomisk overblik</h3>
                        <p>
                            En stor del af dét at være virksomhedsejer, er økonomi. Det kan hurtigt blive
                            uoverskueligt at holde styr på de mange udgifter og indtægter, samt huske at
                            indberette moms og skat.
                        </p>
                        <p>
                            Specielt nyopstartede virksomheder har mange udgifter (og måske mere spændende ting
                            at se til). Hvis først økonomien bliver overset, begynder budgettet ofte at skride.
                        </p>
                        <p>
                            Vi giver et par gode tips til at holde overblikket:
                        </p>
                        <ul>
                            <li>
                                <strong>Lav flere budgetter </strong>
                                - det skaber overblik over hvad du bruger dine penge på, eksempelvis lønbudget,
                                budget
                                for transport, budget over produktion osv. Du kan herefter lave et samlet budget
                                med
                                nøgletallene.
                            </li>
                            <li>
                                <strong>Læg penge til side </strong>
                                – det kan være svært at lægge et budget helt præcist, derfor er det godt at have
                                nogle penge lagt til side til uforudsete udgifter. Hvor mange penge der skal
                                lægges
                                til side, er svært at sætte tal på, da det afhænger af størrelsen på
                                virksomheden og
                                hvor mange uforudsete udgifter der dukker op.
                            </li>
                            <li>
                                <strong>Opret en erhvervskonto </strong>
                                - så du har dit privatliv og erhvervsliv adskilt, det gør det nemmere for dig at
                                holde overblikket, specielt i forhold til afregning af moms osv.
                            </li>
                            <li>
                                <strong>Spørg om hjælp eller betal dig fra det </strong>
                                - hvis du helst selv vil have føling med økonomien og holde det store overblik,
                                er et kursus det essentielle valg for dig. Har du ikke tiden til at tage et
                                kursus eller styre økonomien selv, er ansættelse af en bogholder, eller lignede,
                                valget for dig.
                            </li>
                        </ul>
                        <p>
                            Der er mange, som ikke kan overskue at stå med det hele selv, men vælger at overlade
                            arbejdet til en bogholder eller lignede. Startup Central har flere
                            samarbejdspartnere, der kan hjælpe dig med denne del af din virksomhed.
                        </p>
                        <p>
                            Vi tilbyder services inden for bl.a. regnskabsprogrammer og bogholderløsninger (samt
                            økonomisk mentoring).
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Skab et overblik over lovmæssige forsikringer og tilladelser</h3>
                        <p>
                            Der er en masse lovgivning omkring dét at føre en virksomhed. Det er vigtigt at du
                            overholder kravene fra lovgivningen, ellers kan du risikere at din virksomhed får
                            bøder eller bliver lukket. Blandt andet er alle virksomheder i Danmark forpligtet
                            til at holde regnskab og bogføre.
                        </p>
                        <p>
                            Husk på, at lovgivningen varierer alt efter hvilken virksomhedsform du har valgt og
                            hvilke behov den har.
                        </p>
                        <p>
                            Sælger du fødevare, alkohol, m.m., skal du have styr på fødevarelovgivningen. Her er
                            der bl.a. forskellige bevillinger, som skal tildeles før du kan sælge dine varer.
                            Skal disse varer være økologiske er der endnu flere regler, som skal overholdes i
                            henhold til <a href="https://www.foedevarestyrelsen.dk/Selvbetjening/lovstof/Sider/Økologi.aspx" class="link">Økologiloven</a>. Der er bl.a. fastsat regler
                            om produktion, forarbejdning,
                            import og meget mere. Selv dét at føre erhverv i et lokale kræver en tilladelse.
                        </p>
                        <p>
                            De lovmæssige forsikringer varierer også alt efter branchen du bevæger dig inden
                            for. I alle brancher kræves bl.a. disse forsikringer: arbejdsskadeforsikring for
                            dine medarbejdere, ansvarsforsikring på, eksempelvis, din bil og
                            erhvervssygdomsforsikring.
                        </p>
                        <p>
                            Du kan søge hjælp hos forsikringsselskaberne hvor I, i fællesskab, afdækker din
                            virksomheds aktiver og aktiviteter, og dermed får tegnet en forsikring, som dækker
                            alt det nødvendige i din virksomhed. Er du i tvivl om hvilket forsikringsselskab du
                            skal vælge, kan du søge vejledning hos en uafhængig forsikringsrådgiver.
                        </p>
                        <p>
                            Det er meget vigtigt, at du forstår præcis hvordan du er dækket, så din virksomhed
                            ikke vælter på grund af en skade dit forsikringsselskab ikke anerkender.
                        </p>
                        <p>
                            Der er mange ting at holde styr på, så sæt dig godt ind i hvad det er din virksomhed
                            skal kunne, hvilke lovmæssige forsikringer og tilladelser det kræver, for at få det
                            hele til at gå op i en højere enhed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Hvad koster det at starte virksomhed?
                        </h3>
                        <p>
                            At starte virksomhed koster alt mellem 5.000 og 30.000 det første år, det er svært
                            at sætte et præcist tal på. Det afhænger af dit erhverv samt dine behov:
                            virksomhedsform, branche, forsikringer, tredjeparts hjælp, produkter osv. Hvis du
                            eksempelvis åbner en enkelmandsvirksomhed, kan du gøre det gratis, hvorimod
                            oprettelse af selskab koster minimum 670 kr. i stiftelsesgebyr. Læs mere om
                            opstartsomkostningerne herunder
                        </p>
                        <span><strong>Erhvervskonto</strong></span>
                        <p>
                            Der er en lang række driftsudgifter løbende for en virksomhed, derfor skal have en
                            NemKonto tilknyttet din virksomhed. Har du en enkelmandsvirksomhed, må det godt være
                            en privat konto, du skal dog være opmærksom på, at din bank har ret til at sige nej,
                            til at bruge en privatkonto til erhverv.
                        </p>
                        <p>
                            Der er et krav om at have en erhvervskonto tilknyttet hvis du har et selskab;
                            erhvervskontoen koster som udgangspunkt 0-5.000 kr. pr. år alt efter bank.
                        </p>
                        <span><strong>Regnskabspligt og bogføringspligt</strong></span>
                        <p>
                            Som erhvervsdrivende har du pligt til at føre regnskab og bogføre; du kan med fordel
                            benytte dig af online regnskabsprogrammer til formålet.
                        </p>
                        <p>
                            På nettet finder du flere forskellige regnskabsprogrammer; nogle er gratis mens
                            andre
                            koster penge. Der tilbydes også, afhængig af programmet, gratis prøveperioder - så
                            du
                            kan blive afklaret med hvilket program, der passer bedst til dig.
                        </p>
                        <p>
                            Denne udgift skal naturligvis indgå i dit budget.
                        </p>
                        <p>
                            Du skal ikke indsende dit regnskab nogen steder, men gemme dine fakturaer og bilag i
                            fem år, så du kan fremvise dem hvis SKAT kræver det.
                        </p>
                        <p>
                            Er du ikke god til tal, vil det være en god idé at få hjælp til bogføring. Afhængigt
                            af hvor meget hjælp du har brug for, kan det koste op til 5.000 kr. pr. år. På
                            nettet
                            kan du finde forskellige tilbud, dermed kan du få hjælp, der passer dine behov og
                            budget. Har du derimod selv styr på det, er det helt gratis.
                        </p>
                        <p>
                            Hos Startup Central tilbyder vi flere løsninger inden for både <a href="/partnere/#All"
                                                                                              class="link">regnskab og bogføring</a>, som gør det billigere for dig at
                            starte virksomhed.
                        </p>
                        <span><strong>Forsikring</strong></span>
                        <p>
                            Dine forsikringer kan hurtigt løbe op i mange penge, medmindre du har en god
                            relation
                            til dit forsikringsselskab - måske du så kan du få et godt tilbud.
                        </p>
                        <p>
                            Har du en virksomhed med ansatte, er du forpligtet til at have en
                            arbejdsskadeforsikring på dem. Prisen på en arbejdsskadeforsikring varierer efter
                            hvad virksomheden beskæftiger sig med. Forsikringsselskaberne fastsætter prisen ud
                            fra, hvor mange risici der er forbundet med den ansattes arbejde. En forsikring for
                            en revisor kan ligge mellem 1.200 - 2.000 kr. pr. ansat, hvorimod en tømrer koster
                            8.000 - 9.000 kr. pr. ansat.
                        </p>
                        <p>
                            I mange tilfælde kan du få tegnet din arbejdsskadeforsikring sammen med
                            erhvervssygdomsforsikringen. Prisen på erhvervssygdomsforsikringen følger de samme
                            præmisser som arbejdsskadeforsikringen. Prisen kommer an på hvilke risici dine
                            ansatte arbejdsmæssigt kan blive udsat for.
                        </p>
                        <p>
                            Dette er et lille overblik over, nogle af de udgifter der er ved at opstarte en
                            virksomhed, der er endnu flere og som du kan læse varierer udgifterne meget efter
                            virksomheden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cvr">
        <div class="row-container">
            <div class="row center-align-columns">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">CVR</h3>
                        <p>
                            CVR er en forkortelse af Det Centrale Virksomhedsregister, registeret indeholder
                            informationer om alle danske virksomhed
                            og selskaber som er CVR registeret. Som CVR registreret virksomhed for du en unikt
                            identifikations nummer, dette kan
                            sammenlignes med dit personlige CPR-nummer.
                        </p>
                        <p>
                            CVR-registeret indeholder alle grundinformationerne tilknyttet dit CVR-nummer,
                            heriblandt
                            navn, adresse, branche, oprettelse af virksomhed og meget mere.
                        </p>
                        <p>
                            Ikke alle virksomheder er påkrævet at have et CVR-nummer, omsætter din virksomhed
                            for
                            mindre end 50.000 kr. årligt, er
                            der ikke et krav om at blive registeret med et CVR-nummer.
                        </p>
                        <p>
                            Selvom din virksomhed går ind under undtagelsen, kan der være flere fordele i at
                            lade
                            din virksomhed registrere. Blandt
                            andet finder kunder og samarbejdspartnere ofte virksomheden mere troværdig derudover
                            vil
                            du, som CVR registreret, kunne
                            trække dine udgifter i virksomheden fra i SKAT.
                        </p>
                        <p>
                            Herunder kan du læse mere om CVR.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2382/cvr-1.svg" alt="CVR">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hvad koster det at få et CVR?</h3>
                        <p>Det er gratis at registrere en virksomhed og få et CVR-nummer.</p>
                        <p>
                            Dét som koster er minimumskapitallet. Kapitallet afhænger af hvilken virksomhedsform
                            du vælger. Enkelmandsvirksomhed har intet krav om kapital, hvorimod et
                            anpartsselskab
                            har et kapitalkrav på minimum 40.000 kr. og et aktieselskab har et krav på minimum
                            400.000 kr.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hvordan får jeg et CVR?</h3>
                        <p>
                            Det er enkelt og nemt at få et CVR-nummer, gå ind på virk.dk, tryk på “Start
                            virksomhed” og log ind med dit NemID, følg herefter anvisningerne på siden.
                        </p>
                        <p>
                            Husk at register din virksomheds hjemmeside, når du opretter dit CVR-nummer, da der
                            er flere virksomheder, der køber og offentliggøre lister over virksomheder - på den
                            måde får du automatisk et link til din hjemmeside.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Branchekode
                        </h3>
                        <p>
                            I forbindelse med din registrering, bliver du spurgt om din branchekode; de
                            branchekoder du kan vælge imellem vil ikke nødvendigvis passe på det, du er ved at
                            starte, men vælg den som passer bedst på din virksomhed. Det bruges til statistisk
                            brug, derfor er det okay at ramme lidt skævt. Men vælg så præcist som muligt, for at
                            dine kunder ikke fravælger dig, hvis de ser din branchekode.
                        </p>
                        <p>
                            Hvis du senere finder ud af, at du ikke har angivet den mest præcise branche, kan du
                            altid
                            ændre det. Din virksomhed kan sagtens indeholde flere forskellige brancher, her
                            vælger du
                            branchen ud fra virksomhedens hovedaktivitet. Du kan registrere op til tre
                            bibrancher,
                            hvis biaktiviteten udgør mindst 10% af den samlede omsætning og mindst 300.000 kr.
                            om
                            året.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Kan et CVR-nummer blive forældet?</h3>
                        <p>
                            Nej, det kan det ikke. Et CVR-nummer følger virksomheden fra start til slut, det
                            ophører først når virksomheden bliver afmeldt. Der kan ske en tvangsafmelding,
                            eksempelvis hvis der ikke indsendes regnskaber eller ved dom.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">CVR-nummer på bilen</h3>
                        <p>
                            Investerer du i en bil, som skal bruges til erhvervsmæssig brug, skal du bruge dit
                            CVR-nummer. Der er et lovkrav om, at bilen skal forsynes med et firmanavn og teksten
                            “CVR + dit CVR-nummer". Producenter og montører af disse folier til bilen, kender
                            alle kravene om dette.
                        </p>
                        <p>
                            Firmanavnet må godt udskiftes med virksomhedens logo, hvis logoet indeholder
                            virksomhedens navn, så man ikke kan tage fejl.
                        </p>
                        <p>
                            Firmabiler registeret som “må bruges privat” er undtaget lovkravet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            CVR-nummer på faktura
                        </h3>
                        <p>
                            Laver du en faktura til en kunde, skal den være i overensstemmelse med kravene fra
                            SKAT. En af de vigtigste ting, som skal fremgå af fakturaen, er dit CVR-nummer.
                        </p>
                        <p>
                            Udover dit CVR-nummer skal fakturaen indeholde dato, fortløbende nummer, din og
                            købers firmanavn og adresse, kort beskrivelse af ydelse og pris, både momsbeløb og
                            samlet beløb.
                        </p>
                        <p>
                            De fleste bogføringsprogrammer har en skabelon, som nemt kan følge; Startup Central
                            tilbyder tilbud til disse programmer.
                        </p>
                        <p>
                            Læs mere på <a href="https://skat.dk/skat.aspx?oid=130166" class="link">SKAT’s hjemmeside om fakturaer</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Handel i udlandet</h3>
                        <p>
                            Køber og sælger du produkter uden for Danmark, kan du blive spurgt om dit
                            VAT-nummer.
                        </p>
                        <p>
                            Et VAT-nummer er den engelske udgave af CVR. Skal du skrive dit VAT-nummer,
                            indtaster du dit danske CVR-nummer med “DK” foran, eksempelvis “DK12345678”.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Momsregistrering</h3>
                        <p>
                            Momsregistrering foregår samtidig med, at du bliver registreret i CVR registeret.
                            Her bliver du spurgt om du vil momsregistreres. Har du en virksomhed, hvis omsætning
                            er mindre end 50.000 kr. årligt er det valgfrit om du vil momsregistreres.
                        </p>
                        <p>
                            Det er ikke alle virksomheder, som skal momsregistreres, det er heller ikke alle som
                            kan.
                            En virksomhed skal momsregistreres hvis den udfører følgende arbejde:
                        </p>
                        <ul>
                            <li>
                                Fremstilling, bearbejdning, udlejning, opbevaring eller transportering af
                                varer.
                            </li>
                            <li>Bygning, reparation, vedligeholdelse og projektion af fast ejendom.</li>
                            <li>
                                Salg af ydelser, som eksempelvis vurdering og rådgivning, reklame, IT,
                                forlystelser, servering og arbejdsudleje.
                            </li>
                        </ul>
                        <p>
                            At lade sig momsregistre ser mere professionelt ud udadtil, da virksomheden ellers
                            vil virke som en “hobby”. Hvis du ikke er forpligtet til at indberette moms, kan du
                            sælge dine vare billigere til dine kunder, da du ikke skal indkræve moms, dog kan du
                            ikke trække moms fra de udgifter du har.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="selskabsformer">
        <div class="row-container">
            <div class="row center-align-columns">
                <div class="column-container column-7">
                    <div class="container">
                        <h3 class="headline-3">Selskabsformer</h3>
                        <p>
                            Selskabsformen defineres ud fra hvordan du organiserer din virksomhed. Der er flere
                            forskellige selskabsformer, som din
                            virksomhed kan organiseres efter, disse har forskellige krav om blandt andet
                            indskudskapital og hæftelse. Derfor skal du
                            være klar over hvad de forskellige krav er, før du vælger din selskabsform.
                        </p>
                        <p>
                            VIRK har en fyldestgørende anvisning til hvordan du opretter din selskabsform, men
                            vi
                            anbefaler at du kontakter en af
                            vores relevante erhvervscoaches for at få udfyldt alle felter korrekt fra start.
                        </p>
                        <p>
                            Få overblikket over selskabsformerne herunder.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2390/selskabsformer-1.svg" alt="Selskabsformer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <span><strong>Start et ApS</strong></span>
                        <p>
                            Et anpartsselskab er et selskab hvor ejernes kapitalindskud er fordelt på anparter,
                            og hvor ejerne kun hæfter for indskuddet i selskabet. Indskudskravet er på mindst
                            40.000 kr. Du kan stifte og eje et ApS alene eller sammen med andre. Du skal være
                            opmærksom på, at du i et anpartsselskab skal føre regnskab og indberette årsrapport
                            digitalt.
                        </p>
                        <p>
                            Du skal have en direktion og føre ejerbog over anpartshavere samt registrere
                            ejerforhold. Det koster 670 kr. at registrere et ApS og det gør du på VIRK.dk. Her
                            opretter og underskriver du et stiftelsesdokument og vedtager selskabets vedtægter.
                        </p>
                        <span><strong>Lav et holdingselskab</strong></span>
                        <p>
                            Et holdingselskab er et selskab, som har kapitalandele i andre virksomheder. Det er
                            dermed ikke en selvstændig selskabsform, men ofte stiftet som et anparts- eller
                            aktieselskab. Oprettelsen af et holdingselskab foregår på VIRK.dk.
                        </p>
                        <p>
                            Fordelene ved at stifte et holdingselskab er bl.a. skattefordelene og at minimere
                            risikoen for ejerne. Ejer holdingselskabet mere end 10% af et driftsselskab, kan
                            overskuddet i driftsselskabet skattefrit overføres til holdingselskabet. Du kan opnå
                            skattefordele i forbindelse med salg af driftsvirksomhed, idet avancen er skattefri.
                            Gælder ikke børsnoterede selskaber.
                        </p>
                        <span><strong>Start en enkelmandsvirksomhed</strong></span>
                        <p>
                            En enkelmandsvirksomhed er en privatejet virksomhed, som er karakteriseret ved kun
                            at have én ejer. Der stilles få krav til stiftelsen, heriblandt at den skal anmeldes
                            til SKAT, dog stilles der ingen krav om indskudskapital. Vær opmærksom på, at ejeren
                            hæfter med hele sin private formue, ved et eventuelt virksomhedstab og konkurs. På
                            VIRK.dk kan du nemt stifte din enkelmandsvirksomhed.
                        </p>
                        <span><strong>Start en PMV</strong></span>
                        <p>
                            PMV står for personligt ejet mindre virksomhed, du opretter den nemt og hurtigt inde
                            på VIRK.dk, hvor du får dit CVR- nummer. Startup Central har lavet en oversigt over
                            alt du skal vide om et CVR-nummer. Vær opmærksom på,
                            at registreringen skal fornyes
                            hvert tredje år.
                        </p>
                        <p>
                            PMV er for dig, som vil drive virksomhed på hobbyplan eller prøve en idé af, ved
                            siden af din primære indkomst. Der er kun en ejer af virksomheden, som træffer alle
                            beslutninger, denne ejer hæfter, med privat formue, for eventuelt virksomhedstab.
                            Der er intet krav om indskudskapital eller at registrere moms, så længe den årlige
                            omsætning er under 50.000 kr. Overstiger din omsætning 50.000 kr. årligt skal du
                            omregistrere din virksomhed.
                        </p>
                        <p>
                            Virksomheden må ikke have import eller eksport til lande uden for EU eller have
                            ansatte. Det er gratis at registrere sig, men du kan kun have én PMV.
                        </p>
                        <span><strong>Start et I/S</strong></span>
                        <p>
                            I/S er forkortelsen på et interessentskab, som ejes og drives af to eller flere
                            interessenter, interessenterne kan bestå af både personer og virksomheder. Der er
                            intet krav om indskudskapital, men ejerne hæfter personligt, ubegrænset og
                            solidarisk for virksomhedstab. Du registrerer interessentskabet på VIRK.dk, tryk
                            “Start virksomhed” og følg anvisningerne.
                        </p>
                        <span><strong>Omdan et I/S til ApS</strong></span>
                        <p>
                            Grunden til at omdanne din virksomhed til et selskab kan være mange; et ønske om at
                            undgå personlig hæftelse, skattemæssige overvejelser eller forberedelse af salg af
                            virksomhed. Før du omdanner, skal du blandt andet have styr på:
                        </p>
                        <ul>
                            <li>
                                <strong>Kunder og samarbejdsaftaler.</strong>
                                Overgang af kontrakter til et nyt selskab kræver som hovedregel
                                samarbejdspartnernes godkendelse. Får du ikke den kan du
                                opsige kontrakten.
                            </li>
                            <li>
                                <strong>Overdragelse af rettigheder.</strong>
                                Disse rettigheder kunne være licenser, agenturer, franchisekontrakter eller
                                lignede aftaler. Rettighederne skal afklares med de respektive partnere, om de
                                kan overdrages til det nye selskab.
                            </li>
                            <li>
                                <strong>Kreditorer.</strong>
                                Det er vigtigt at sikre sig at virksomhedens bankforbindelser og andre
                                kreditorer accepterer, at virksomheden omdannes til et selskab. Der sker et
                                debitorskifte ved omdannelsen, hvor man ønsker at selskabet skal overtage
                                tidligere private hæftelse.
                            </li>
                            <li>
                                <strong>Medarbejdere.</strong>
                                Medarbejderne skal ikke acceptere omdannelsen før du kan gennemføre den. Men da
                                de i realiteten får en ny arbejdsgiver, vil der skulle udstedes nye
                                ansættelseskontrakter eller udarbejdes tillæg til de gældende. Sikre dig at
                                ansættelsesbevisloven er overholdt.
                            </li>
                        </ul>
                        <p>
                            Der kan være mange ting at holde styr på, når du omdanner sin virksomhed til et
                            selskab, derfor anbefaler vi, at du kontakter juridiske eksperter. Hos Startup
                            Central kan du få tilbud på <a href="/partnere/#All" class="link">juridiske selskaber</a>.
                        </p>
                        <p>
                            Mangler du en uddybelse af selskabsformerne, kan du finde den på <a href="/blogs/virksomhed-i-selskab-hvilken-selskabsform/"
                                                                                                class="link">
                                Startup Centrals
                                blog
                            </a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>