@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "SC_WebBase.cshtml";
}


    <section class="header-big">
        <div class="container">
            <div class="title-box">
                <h2>Hustle with Confidence</h2>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
            </div>
        </div>
    </section>

    <main id="sc-inspiration" class="sc-inspiration">
        <section class="sc-inspo-intro">
            <div class="container card">
                <div class="inspo-intro-container">
                    <div class="intro-text">
                        <h2 class="headline-2">What we Offer</h2>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        <p class="lead">Startup Noise af Anders Fogh & Jakob Sloth
                            <br><br>
                            Startup Noise er et nyt intertiv i Startup Central. Det er en podcast mellem ekspert-caster,
                            Jakob
                            Sloth, og amatøre caster, Anders Fogh.
                            <br><br>
                            Anders har sat agendaen for podcasten, som er en hudløs ærlig og uforberedt podcast - altså
                            en
                            podcast uden script, og er stik modsat hvad eksperten selv gør. Det betyder, at det er 100%
                            autentiske svar, frit fra leveren.
                            <br><br>
                            Indholdet vil variere, men det vil alt sammen omhandle iværksætteri på den ene eller den
                            anden måde;
                            og har til formål at besvare de forskellige FAQs (ofte stillede spørgsmål), som Startup
                            Central
                            støder på - og som den grønne iværksætter, Jakob, selv har oplevet.
                            <br><br>
                            Lyt med her.
                            <br><br>
                            Husk også et tjekke vores medlemskab ud.</p>
                    </div>
                    <div class="intro-img">
                        <img src="assets/images/plumeria.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="sc-inspo-timeline">
            <div class="container">
                <div class="timeline-box section1">
                    <div class="timeline-bubble">
                        <img src="assets/images/BeforeStartup/ide2.svg" alt="Idea">
                    </div>
                    <div class="timeline-text">
                        <h2>Lorem Ipsum</h2>
                        <p>Inden du opsiger dit fuldtidsjob, satser hus og hjem eller noget tredje - har du så din idé
                            på plads?
                            <br><br>
                            Den værste start på eventyret som selvstændig eller iværksætter er hvis hele ens idé falder
                            fra hinanden. Motivationen daler hurtigt når man er så tidelig i forløbet.
                            <br><br>
                            Det er derfor vigtigt at du har tungen lige i munden, at du ved hvad du vil og hvorfor du
                            vil det.</p>
                        <!-- <div class="image-box">
                        <h3>Spørg dig selv: </h3>
                        <p class="lead">
                            Hvad er mit drive?<br>
                            Er der et marked?<br>
                            Er det en god løsning?<br>
                            Hvad har jeg af interne ressourcer?</p>
                        <img src="assets/images/Undraw/undraw_organize_resume_utk5.png" alt="ASD">
                        <a href="#!" class="button">Vores coaches kan hjælpe dig med dette.</a>
                    </div> -->
                    </div>
                </div>
                <div class="timeline-box section2">
                    <div class="timeline-bubble">
                        <img src="assets/images/BeforeStartup/udfoersel2.svg" alt="Idea">
                    </div>
                    <div class="timeline-text">
                        <h2>Lorem Ipsum</h2>
                        <p>Du har måske din idé på plads, men er det en idé du kan realisere?
                            <br><br>
                            Man kan drømme sig til stjernerne, men hvis ikke man finder en måde at komme dertil; så er
                            idéen måske urealiserbar på egen fod.
                            <br><br>
                            Der er intet galt i at sigte højt, men intet bliver bygget fra toppen og nedefter.
                            <br><br>
                            Sørg for, at din idé er noget du på den ene eller anden måde kan realisere - ellers
                            forbliver det blot dét; en idé.</p>
                        <!-- <div class="image-box">
                        <h3>Spørg dig selv: </h3>
                        <p class="lead">
                            Hvad kræver idéen?<br>
                            Hvad har jeg af eksterne ressourcer?<br>
                            Kender jeg nogen som kan hjælpe mig?<br>
                            Har jeg det rette mindset?</p>
                        <img src="assets/images/Undraw/undraw_organize_resume_utk5.png" alt="ASD">
                        <a href="#!" class="button">Vores coaches kan hjælpe dig med dette.</a>
                    </div> -->
                    </div>
                </div>
                <div class="timeline-box section3">
                    <div class="timeline-bubble">
                        <img src="assets/images/BeforeStartup/evner2.svg" alt="Idea">
                    </div>
                    <div class="timeline-text">
                        <h2>Lorem Ipsum</h2>
                        <p>Inden du opsiger dit fuldtidsjob, satser hus og hjem eller noget tredje - har du så din idé
                            på plads?

                            Den værste start på eventyret som selvstændig eller iværksætter er hvis hele ens idé falder
                            fra hinanden. Motivationen daler hurtigt når man er så tidelig i forløbet.

                            Det er derfor vigtigt at du har tungen lige i munden, at du ved hvad du vil og hvorfor du
                            vil det.
                            <div class="image-box">
                                <h3>Spørg dig selv: </h3>
                                <p class="lead">
                                    Hvad kræver idéen?<br>
                                    Hvad har jeg af eksterne ressourcer?<br>
                                    Kender jeg nogen som kan hjælpe mig?<br>
                                    Har jeg det rette mindset?</p>
                                <img src="assets/images/Undraw/undraw_organize_resume_utk5.png" alt="ASD">
                                <a href="#!" class="button">Vores coaches kan hjælpe dig med dette.</a>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="timeline-box section4">
                    <div class="timeline-bubble">
                        <img src="assets/images/BeforeStartup/forretningsplan2.svg" alt="Idea">
                    </div>
                    <div class="timeline-text">
                        <h2>Lorem Ipsum</h2>
                        <p>Hvorvidt du er nystartet med din virksomhed eller om du har arbejdet med din virksomhed i
                            længere tid, er din forretningsplan afgørende.
                            <br><br>
                            Det er her dine første antagelser,af markedspotentiale og vækstmuligheder, udspringer.
                            <br><br>
                            Det er ofte stammen på virksomheden og det er her virksomheden får skabt sit koncept. Typisk
                            kommer ideen først og herefter kommer konceptet til hvordan du skal tjene penge gennem din
                            kommende forretning. Det er for mange en kreativ proces at få tankerne ned på skrift. Vores
                            erfaring viser, at når tankerne kommer ned på skrift så viser det sig, at ideen udvikler sig
                            til meget mere.
                            <br><br>
                            Din forretningsplan giver dig et overblik over dine drømme, da du stiftede din virksomhed.
                            Den giver et indblik i hvilke tanker du har haft, da du stiftede din virksomhed. Den er
                            desuden ganske god for dine ledende medarbejder at læse, uanset om den er opdateret eller
                            ej.
                            <br><br>
                            Der findes rigtige mange gratis versioner af forretningsplaner rundt på nettet, og der
                            findes ikke en komplet forretningsplan. Det handler om at finde den model som passer til
                            dig. De forskellige versioner af en forretningsplan har flere fælles træk. Ideen,
                            produktion/udvikling, økonomi, ejerforhold, jura, målgruppe, kunder, mm.
                            <br><br>
                            Vi har sammensat vores egen skabelon eksklusiv til medlemmer, der er skræddersyet i
                            samarbejde med 25 investorer - denne skabelon har hjulpet medlemmer med at hente
                            investeringer og skabt flere forretninger.</p>
                    </div>
                </div>
                <div class="timeline-box section5">
                    <div class="timeline-bubble">
                        <img src="assets/images/BeforeStartup/forretningsplan2.svg" alt="Idea">
                    </div>
                    <div class="timeline-text">
                        <h2>Lorem Ipsum</h2>
                        <p>Hvorvidt du er nystartet med din virksomhed eller om du har arbejdet med din virksomhed i
                            længere tid, er din forretningsplan afgørende.
                            <br><br>
                            Det er her dine første antagelser,af markedspotentiale og vækstmuligheder, udspringer.
                            <br><br>
                            Det er ofte stammen på virksomheden og det er her virksomheden får skabt sit koncept. Typisk
                            kommer ideen først og herefter kommer konceptet til hvordan du skal tjene penge gennem din
                            kommende forretning. Det er for mange en kreativ proces at få tankerne ned på skrift. Vores
                            erfaring viser, at når tankerne kommer ned på skrift så viser det sig, at ideen udvikler sig
                            til meget mere.
                            <br><br>
                            Din forretningsplan giver dig et overblik over dine drømme, da du stiftede din virksomhed.
                            Den giver et indblik i hvilke tanker du har haft, da du stiftede din virksomhed. Den er
                            desuden ganske god for dine ledende medarbejder at læse, uanset om den er opdateret eller
                            ej.
                            <br><br>
                            Der findes rigtige mange gratis versioner af forretningsplaner rundt på nettet, og der
                            findes ikke en komplet forretningsplan. Det handler om at finde den model som passer til
                            dig. De forskellige versioner af en forretningsplan har flere fælles træk. Ideen,
                            produktion/udvikling, økonomi, ejerforhold, jura, målgruppe, kunder, mm.
                            <br><br>
                            Vi har sammensat vores egen skabelon eksklusiv til medlemmer, der er skræddersyet i
                            samarbejde med 25 investorer - denne skabelon har hjulpet medlemmer med at hente
                            investeringer og skabt flere forretninger.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
