@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Kontakt>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<section>
<div class="container">
</div>
</section>