@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

    <main id="sc-guest-nykredit" class="sc-guest">
        <section>
            <div class="row-container">
                <div class="row ">
                    <div class="column-container">
                        <div class="column centered">
                            <h2 class="headline-2">Som kunde i Nykredit får du de første 3 måneder
                                gratis</h2>
                            <h3>Nedenfor giver vi dig 5 gode grunde til at vælge Startup Central og
                                nederst på siden
                                kan
                                du tilmelde dig.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-container feature-rail reversing-columns-rail">
                <div class="row reversing-column featured-column  center-align-columns">
                    <div class="column-container column-7">
                        <div class="column">
                            <h3 class="headline-3">Få styr på forretningsplanen</h3>
                            <p>
                                Slut med kedelige A4-skabeloner, der er alt for uoverskuelige! Vi har udviklet en
                                digital forretningsplan, der er let at gå i gang med og som altid er lige ved hånden.
                                Den er skræddersyet til at highlighte de vigtigste områder for, at du kan få investering
                                og/eller banklån.
                            </p>
                            <p>
                                Det hele foregår på vores platform, der sikkert kan opbevare din forretningsplan.
                                Igennem platformen kan du ligeledes modtage feedback, på din forretningsplan ved at
                                sende den til vores coachteam.
                            </p>
                            <p>
                                NB: en forretningsplan kan bruges til bankkonto, investorer, håndbog til fremtidige
                                medarbejdere m.m.
                            </p>
                            <div class="inline-elements">
                                <a href="/forretningsplanen/" class="button button--lg">Læs mere om
                                    forretningsplanen</a>
                                <a href="/bliv-medlem/" class="button button--lg button--cta">Bliv medlem</a>
                            </div>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img class="content-image" src="/media/2394/successfactors.svg" alt="Forretningsplanen">
                        </div>
                    </div>
                </div>

                <div class="row reversing-column featured-column  center-align-columns">
                    <div class="column-container column-7 ">
                        <div class="column">
                            <h3 class="headline-3">Få et økonomisk overblik</h3>
                            <p>
                                Ved hjælp af vores coachteam, der har erfaringer inden for økonomi, kan du få sparring
                                til at forstå betydningen af nøgletal som rentabilitet, dækningsbidrag, break even m.m.
                                og hvordan disse udnyttes bedst muligt.
                            </p>
                            <p>
                                Disse er vigtige når du skal argumentere ud fra din forretningsplan, hvorfor netop din
                                forretning giver værdi til investering eller banklån.
                            </p>
                            <p>
                                Banken forstår nøgletalene, det skal du også, brug vores budgetskabeloner for at få
                                overblikket.
                            </p>
                            <div class="inline-elements">
                                <a href="/budgetter/" class="button button--lg">
                                    Læs mere om budgetter
                                </a>
                                <a href="/bliv-medlem/" class="button button--lg button--cta">Bliv medlem</a>
                            </div>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img class="content-image" src="/media/2396/budget-skabelon.svg" alt="Budgetter">
                        </div>
                    </div>
                </div>

                <div class="row reversing-column featured-column  center-align-columns">
                    <div class="column-container column-7">
                        <div class="column">
                            <h3 class="headline-3">Det skal være nemt at få hjælp</h3>
                            <p>
                                Igennem et medlemskab får du adgang til mere end 70 erfarne coaches, med viden inden for
                                utallige områder du frit kan modtage sparring fra. Har du et spørgsmål, så har vores
                                coaches et svar.
                            </p>
                            <p>
                                Du kan eksempelvis fremsende din forretningsplan til en coach for feedback - således du
                                har de bedste forudsætninger for at få en handlingsklar forretningsplan.
                            </p>

                            <div class="inline-elements">
                                <a href="/coaches/#All" class="button button--lg">
                                    Se vores coaches
                                </a>
                                <a href="/bliv-medlem/" class="button button--lg button--cta">Bliv medlem</a>
                            </div>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img class="content-image" src="/media/2380/coaching.svg" alt="Coaching">
                        </div>
                    </div>
                </div>

                <div class="row reversing-column featured-column  center-align-columns">
                    <div class="column-container column-7">
                        <div class="column">
                            <h3 class="headline-3">Sænk dine driftsomkostninger</h3>
                            <p>
                                Disse besparelser er en fordel, eftersom de sparet penge potentielt kan bruges andet
                                sted i din virksomhed.
                            </p>
                            <p>
                                Skal du bruge flere penge på markedsføring, produktion, løn eller andet?
                            </p>
                            <p>
                                Så udnyt de gode samarbejdsaftaler, der er lagt foran dig!
                            </p>

                            <div class="inline-elements">
                                <a href="/startup-lounge/" class="button button--lg">
                                    Se vores fordele
                                </a>
                                <a href="/bliv-medlem/" class="button button--lg button--cta">Bliv medlem</a>
                            </div>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img src="/media/2388/savemoney.svg" alt="Spar Penge" class="content-image">
                        </div>
                    </div>
                </div>

                <div class="row reversing-column featured-column  center-align-columns">
                    <div class="column-container column-7">
                        <div class="column">
                            <h3 class="headline-3">Et effektivt iværksætternetværk</h3>
                            <p>
                                Startup Lounge er netværket, der bidrager til din iværksætterrejse. Her får du mulighed
                                for at modtage og give sparring, samt lave gode samarbejdsaftaler med netværkets øvrige
                                medlemmer.
                            </p>
                            <p>
                                Det er et netværk uden støj, med kontrolleret reklame - således netværket forbliver
                                relevant.
                            </p>
                            <p>
                                Her møder du mennesker, der er i samme stadie som dig - hvilket gør det til et oplagt
                                sted at dele erfaringer, historier, overvejelser m.m.
                            </p>
                            <p>
                                Derudover bidrager vores coaches og teamet bag Startup Central, aktivt med gode råd og
                                inspiration til at styrke din virksomhed.
                            </p>
                            <div class="inline-elements">
                                <a href="/startup-lounge/" class="button button--lg">
                                    Startup Lounge
                                </a>
                                <a href="/bliv-medlem/" class="button button--lg button--cta">Bliv medlem</a>
                            </div>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img class="content-image" src="/media/2408/startup-lounge.svg" alt="Startup Lounge">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column centered">
                            <h2 class="headline-2">Startup Central, stedet som skaber fremtidens succesfulde
                                iværksættere</h2>
                            <h3>Vi står klar til at hjælpe dig fra idé, til forretningsplan, til en sund forretning -
                                uanset hvor du er i din rejse.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column centered">
                            <a href="/bliv-medlem/" class="button button--lg button--cta">Tilmeld dig nu</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>