@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Spar penge
                    </h2>
                    <p class="lead">
                        Driftomkostninger er dyre, men det behøver de ikke at være.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>

<main class="sc-guest-sparepenge">
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Spar penge</h3>
                        <p>
                            Der er rigtig mange udgifter ved det at starte og drive virksomhed. Men det behøver
                            der ikke at være. Med et medlemskab
                            hos Startup Central får du eksklusive tilbud fra vores samarbejdspartnere og
                            mulighed for at sparre med mere end 65
                            coaches, som hver især er specialiseret inden for relevante områder i iværksætter
                            branchen.
                        </p>
                        <p>
                            Læs mere om medlemskabets priser <a href="/pris/" class="link">her</a>.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img src="/media/2388/savemoney.svg" alt="Spar Penge" class="content-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Sådan sænker du dine driftsomkostninger
                        </h3>
                        <p>
                            Når man driver virksomhed, er der udgifter til flere administrative løsninger,
                            servicer og meget andet, som man ikke kan
                            undgå. Disse udgifter løber hurtigt op, derfor er det vigtigt at have et overblik
                            over dem og se hvor man kan spare
                            penge.
                        </p>
                        <p>
                            Hos Startup Central kæmper vi for at gøre det nemt og billigt at være iværksætter.
                            Vi mener, at alle skal have råd til
                            at starte virksomhed og at det skal være så nemt og billigt som muligt.

                        </p>
                        <span>
                            <strong>
                                Find gode tilbud på nødvendige programmer og servicer
                            </strong>
                        </span>
                        <p>
                            Vi har samlet alt det du har brug for, til at starte og drive din virksomhed. Samt
                            forhandlet fordelagtige priser,
                            så det bliver så billigt som muligt for dig.
                        </p>
                        <p>
                            Vi har samlet nogle af de bedste programmer og servicer ét sted, der er bl.a. tilbud
                            inden for regnskabsprogrammer,
                            hjemmesider, forsikring og meget mere, se tilbuddene her. Er du i tvivl om, hvilke
                            produkter der bedst dækker dine
                            behov, kan du kontakte os, vi er altid klar til at hjælpe dig videre på din
                            iværksætterrejse.
                        </p>
                        <p>
                            Som medlem kan du frit kontakte vores coaches, som har stor erfaring inden for
                            iværksætteri. Eller du kan søge vejledning i vores unikke iværksætternetværk Startup
                            Lounge, hvor iværksættere, erhvervsdrivende og folk med interesse i forretning er
                            klar med gode tips.
                        </p>
                        <span>
                            <strong>
                                Brug kun penge på det, der skaber værdi
                            </strong>
                        </span>
                        <p>
                            Undgå at bruge en masse ressourcer på alt det, som ikke skaber værdi for din
                            virksomhed. Sørg for, at du har forarbejdet i orden, inden du kaster penge efter
                            servicer og programmer. Brug tid på at researche områderne; er der billigere
                            udbydere og skaber det overhovedet værdi for din virksomhed?
                        </p>
                        <p>
                            På den måde, bruger du kun penge på noget, som du reelt har behov for.
                        </p>
                        <span>
                            <strong>
                                Start småt, start selv
                            </strong>
                        </span>
                        <p>
                            Hvis du gerne vil starte virksomhed, men ikke har ressourcerne til at dække alle
                            virksomhedens behov, kan du starte småt ud, ved bl.a. at gøre arbejdet selv.
                        </p>
                        <ul>
                            <li>
                                <strong>Markedsføring</strong>. Lav din egen markedsføring, start småt med
                                markedsføring på de
                                sociale medier, undgå annoncer til at starte med, og lær de gratis værktøjer at
                                kende.
                            </li>
                            <li>
                                <strong>Hjemmeside</strong>. Opret og design din egen hjemmeside. Brug gratis
                                programmer og
                                undgå programmer med abonnement. Research hvad de forskellige tilbyder og vælg
                                den, som dækker behovene for hvad din hjemmeside skal kunne. Overvej om en
                                hjemmeside er en nødvendighed, er en Facebook virksomhed nok til at starte med?
                            </li>
                            <li>
                                <strong>Bogholderi</strong>. Du kan spare mange penge, ved at sætte dig ind i
                                alt der har med
                                bogholderi at gøre. Der findes mange gratis udgaver og prøve perioder på
                                regnskabsprogrammer, som kan hjælpe med at holde denne dyre post nede.
                            </li>
                        </ul>
                        <p>
                            Hos Startup Lounge kan du få gratis vejledning om, hvordan andre har skabt
                            besparelser i deres virksomhed. Startup Central tilbyder gratis sparring med
                            coaches, som har stor erhvervserfaring, stil dem dine spørgsmål, så du ikke skal
                            bruge penge på eksempelvis advokater.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Udgifter vs. udbytte</h3>
                        <p>
                            Det er vigtigt, at du hele tiden opvejer dine udgifter op mod dit udbytte, da det er
                            her at værdien skabes. Tænk hele
                            tiden på hvad der skaber værdi for dig.
                        </p>
                        <p>
                            Som medlem hos Startup Central får du værdi for pengene.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <div class="spar-box">
                            <div class="spar-box__item">
                                <h4>SPAR TID OG PENGE PÅ NETVÆRK</h4>
                                <p>
                                    Slip for dyre kontingenter til netværksgrupper, du får all-in-one
                                    netværk gennem os.
                                </p>
                                <span><strong>Besparelse:</strong> <br> Op imod 7.000+ kr./året</span>
                            </div>
                            <div class="spar-box__item">
                                <h4>SPAR TID OG PENGE PÅ PARTNERE</h4>
                                <p>
                                    Få de dyre løsninger til iværksættervenlige priser alle kan være med
                                    på.
                                </p>
                                <span>
                                    <strong>Besparelse:</strong> <br> Op imod 20.000+ kr. første år
                                </span>
                            </div>
                            <div class="spar-box__item">
                                <h4>SPAR TID OG PENGE PÅ COACHING</h4>
                                <p>
                                    Sparring fra kompetente erhvervsfolk har aldrig været billigere.
                                </p>
                                <span>
                                    <strong>Besparelse:</strong> <br> Op imod 30.000+ kr./året
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="column-container">
                    <div class="column content-column">

                        <div class="row three-column bordered">
                            <div class="column-container">
                                <div class="column centered">
                                    <h4>SPAR TID OG PENGE PÅ NETVÆRK</h4>
                                    <p>
                                        Slip for dyre kontingenter til netværksgrupper, du får all-in-one
                                        netværk gennem os.
                                    </p>
                                    <p>
                                        Besparelse:
                                        Op imod 7.000+ kr./året
                                    </p>
                                </div>
                            </div>
                            <div class="column-container">
                                <div class="column centered">
                                    <h4>SPAR TID OG PENGE PÅ PARTNERE</h4>
                                    <p>
                                        Få de dyre løsninger til iværksættervenlige priser alle kan være med på.
                                    </p>
                                    <p>
                                        Besparelse:
                                        Op imod 20.000+ kr. første år
                                    </p>
                                </div>
                            </div>
                            <div class="column-container">
                                <div class="column centered">
                                    <h4>SPAR TID OG PENGE PÅ COACHING</h4>
                                    <p>
                                        Sparring fra kompetente erhvervsfolk har aldrig været billigere.
                                    </p>
                                    <p>
                                        Besparelse:
                                        Op imod 30.000+ kr./året
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column-container">
                                <div class="column centered">
                                    <p>
                                        *Jo mere du benytter dig af medlemskabet, des mere sparer du.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <span><strong>Konsulent fradrag</strong></span>
                        <p>
                            Du kan trække Startup Central-medlemskabet fra i skat. Vores tilknyttede coaches
                            gør,
                            at du kan benytte dig af konsulentfradraget.
                        </p>
                        <p>
                            Du kan læse mere om fradraget <a href="/dit-medlemskab-er-fuldt-fradragsberettiget/" class="link">her</a>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Vores samarbejdsaftaler</h3>
                        <p>
                            Vi har allerede lavet fordelagtige aftaler med partnere, så du ikke skal bruge
                            dyrebar tid på at forhandle aftaler.
                        </p>
                        <span><strong>Vi indgår samarbejde med</strong></span>
                        <p>
                            Startup Central har indgået aftaler med 40 samarbejdspartnere, som favner bredt i
                            servicer og produkter. De dækker alle
                            de behov og nødvendigheder, der er ved at starte og drive virksomhed.
                        </p>
                        <p>
                            Vi forhandler specialtilbud, rabatter og prøveperioder på alt selvstændige og
                            iværksættere har brug for, så vores medlemmer opnår den største besparelse. Priserne
                            forhandles løbende, for at gøre det så billigt som muligt for vores medlemmer.
                        </p>
                        <p>
                            Du kan finde servicer og produkter inden for bogholderi, regnskabssystemer,
                            kundeservice, marketingsydelser og meget mere.
                        </p>
                        <span><strong>Sådan laver vi vores samarbejdsaftaler</strong></span>
                        <p>
                            Vores samarbejdspartnere udvælges ud fra en række parameter: service og/eller
                            produkt, omdømme, mission og vision, efterspørgsel og deres tilgang til selvstændige
                            og iværksættere.
                        </p>
                        <p>
                            Vi vælger dem ud fra disse parametre, for at sikre os, at de skaber værdi for vores
                            medlemmer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>