@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using umbraco.cms.businesslogic.member
@using Umbraco.Core.Services;
@using System.Web
@using System.Web.Security
@using Umbraco.Core.Models;
@using System.Linq;
@using System.IO;
@using System.Net.Mail;
@{
	Layout = null;
}



<form runat="server" style="border:1px solid red;padding:50px 25px;">
    <asp:PasswordRecovery id="PasswordRecovery1"  runat="server">
         
    </asp:PasswordRecovery>
</form>