@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "SC_WebBase.cshtml";
}


    <section class="header-big">
        <div class="container">
            <div class="title-box">
                <h2 class="headline-2">FAQ</h2>
                <h2>Ofte stillede spørgsmål</h2>
            </div>
        </div>
    </section>
	
	<main id="sc-faq" class="sc-faq">
        <section class="sc-faq-questions">
            <div class="container card">
                <!-- <div class="title-box">
                    <h2 class="headline-2">HVAD KOSTER ET MEDLEMSKAB?</h2>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div> -->
                <div class="questions-container">
                    <div class="question">
                        <h2 class="dropmenu">Er mine data fortrolige?</h2>
                        <p>Ja, naturligvis. Alle vores coaches/mentorer har udfyldt fortrolighedserklæringer; hvilket er din
							garanti for, at vi overholder alle gældende regler.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad koster det at blive medlem af Startup Central?</h2>
                        <p>Det koster 149,- DKK pr. måned inklusiv moms. Som medlem får du adgang til alle vores fordele som
							vores eksklusive netværk Startup Lounge.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad er Startup Lounge?</h2>
                        <p>Startup Lounge er vores eksklusive netværk til alle vores medlemmer, hvor man kan får sparring, gode
							råd, og måske lave forretning med andre medlemmer.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvordan foregår betalingen som månedlig bruger?</h2>
                        <p>Du bliver trukket 149,- DKK hver måned via abonnementsløsningen Paylike.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Opsigelse af abonnement?</h2>
                        <p>For medlemmer er opsigelsesfristen løbende måned plus en måned. Ønsker du at opsige dit medlemskab,
							så kontakt kontakt@startupcentral.dk.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Bliver alle fordelene aktiveret automatisk, når jeg bliver medlem?</h2>
                        <p>Nej. Du skal selv aktivt gøre brug af ydelserne under vores partnerside. Partnersiden er kun
							tilgængelig for medlemmer.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Billy dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du tilkøbe Billy’s premium regnskabsprogram til kun 1,- DKK det
							første år. Det betyder således, at vi sparer dig for 1969,- DKK</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Salary dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, får du Salary lønsystem de første 6 måneder gratis. Efter de 6
							måneder kommer hver lønseddel til at koste 19 DKK pr. stk. Vi sparer dig således for 114,- DKK pr.
							medarbejder.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Contractbook dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, får du Contractbooks business udgave de første 3 måneder gratis.
							Efter de 3 måneder koster deres business udgave 200,- DKK. Vi sparer dig således for 600,- DKK.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Codespace dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du tilkøbe dig en prototype app fra Codespace med 5 funktioner
							til kun 9.995,- DDK eks. moms. Normalt koster den 19.995,- DDK. Vi sparer dig således for 10.000,-
							eks. moms.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Saxis dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du sælge din virksomhed gennem Saxis, hvor du kun vil betale 6 %
							honorar frem for 7,5 %. Så sælger du din virksomhed til 500.000,- DKK så skal du kun betale 30.000,-
							DKK fremfor 37.500,- DKK</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Uniqkey dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, får du Uniqkey i 4 måneder gratis. Efter de 4 måneder koster det 35,-
							DKK pr. licens. Vi kan sparer dig for 140,- DKK hvis du kun er én som bruger det.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Russit dig som medlem af Startup Central?</h2>
                        <p>SSom medlem af Startup Central, kan du tilkøbe dig en WordPress hjemmeside med 5 under sider til kun
							2999,- DKK eks. moms. Normalt koster denne løsning 5.998,- DKK eks. moms Vi sparer dig for 2999,-
							DKK eks. moms.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Blue Husky Media dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du få lavet en reklamefilm af Blue Husky Media fra 1 til 3
							minutter for kun 5.995,- DKK eks. moms.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder LegalUp dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du få LegalUp til at stå for alt ved stiftelse af virksomhed til
							ApS til kun 4.995,- DKK eks. moms. Pakken indeholder: Selskabsstiftelse af ApS, Ejeraftale, 3
							måneders LegalUp basis abonnement. Værdien af denne pakke er 5.970,- DKK eks. moms. Vi sparer dig
							for 975,- DKK.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Upodi dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du tilkøbe Upodis abonnements styresystem til kun 368,- DKK eks.
							moms for det første år. Normalt koster det 4800,- DKK. Vi sparer dig således for 4.432,- DKK.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Morningscore dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du prøve Morningscores SEO-program de første 6 uger gratis.
							Derefter koster 200,- DKK om måneden for vores EKSKLUSIV startup-pakke som Morningscore har lavet
							til dig. Vi sparer dig for 300,- DKK de første 6 uger, og for Startup-pakken sparer vi dig for 80,-
							DKK om måneden. Det betyder vi sparer dig for 1.260 DKK det første år.</p>
                    </div>					
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Lunar Way dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du få Lunar Way Business de første 2 måneder gratis, herefter
							koster det 165,- DKK om måneden. Vi sparer dig for 310,- DKK.</p>
                    </div>					
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder GenieWords dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du tilkøbe Google Ads håndtering fra GenieWords til kun 449,- DKK
							om måneden. Det koster normalt 549,- DKK i måneden, så vi sparer dig for 100,- kroner om måneden -
							det vil sige 1200,- DK kroner det første år som du kan bruge på annoncer i stedet for. Derudover får
							du også 600,- DKK i annoncekroner samt, at vi spare dig for oprettelsen på 999,- DKK. Samlet set
							sparer vi dig for 2.799,- DKK.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad tilbyder Aconta ApS dig som medlem af Startup Central?</h2>
                        <p>Som medlem, af Startup Central, kan du tilkøbe vores revisor løsning, Aconta. Deres løsning koster
							fra 396,- DKK om måneden hvis du har under 30 bilag om måneden. Normalt koster det 495,- DKK om
							måneden; vi sparer dig således 1.188,- DKK det første år. Derudover sparer du også 50 % på din
							første årsrapport til henholdsvis driftsselskabet hvor du sparer 1.250,- DKK og på dit
							holdingselskab sparer du 750,- DKK. Samlet sparer vi dig for 3.188,- DKK det første år.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Er der en grænse for, hvor meget jeg må bruge Startup Centrals coaches?</h2>
                        <p>Nej, det er der selvfølgelig ikke. Du må bruge vores coaches lige så meget du har brug for, det er
							derfor vi har dem.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Må man benytte sig af flere coaches på en gang?</h2>
                        <p>Ja. Det er faktisk op til dig hvor mange du vil bruge. Vi anbefaler dog, at man har én coach ad
							gangen, da det giver dig det tætteste samarbejde.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Er det billigere, hvis ikke jeg bruger alle fordelene i værktøjskassen?</h2>
                        <p>Nej, det er det ikke. Prisen er fast, uanset om du bruger vores fordele begrænset eller i store
							mængder.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Har Startup Central en app?</h2>
                        <p>Nej, det har vi ikke. Men det betyder dog ikke noget, da vores hjemmeside er udviklet i et responsivt
							design, så den tilpasser sig brug på tablets og smartphones.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvor lang tid må jeg være medlem af Startup Central?</h2>
                        <p>Du kan være medlem akkurat ligeså længe, som du ønsker det. Du kan derfor finpudse din idé i dit eget
							tempo.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Er det muligt at skrive min forretningsplan på engelsk?</h2>
                        <p>Ja, det er muligt.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvor udvikler jeg min forretningsplan?</h2>
                        <p>Du udvikler den først og fremmest med dig selv, og i samarbejde med coaches og andre hjælpere. Rent
							praktisk udfylder du din forretningsplan på vores platform, der er udviklet til at hjælpe dig godt
							igennem processen.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad er jeres brugerbetingelser?</h2>
                        <p>Du er meget velkommen til at læse vores brugerbetingelser, eller finde dem i bunden af hjemmesiden.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvis jeg har brugt den første måned gratis, og melder mig ud; kan jeg
							efterfølgende indmelde mig igen for at få endnu en gratis måned?</h2>
                        <p>Nej. Det kan du ikke, da det vil være udnyttelse af vores system.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Har vores coaches rådgiver ansvar?</h2>
                        <p>Nej det har de ikke.</p>
                    </div>
					
					<div class="question">
                        <h2 class="dropmenu">Hvad gør jeg hvis jeg ikke kan logge ind?</h2>
                        <p>Hvis du oplever problemer med at logge ind på din profil, så kontakt os på kontakt@startupcentral.dk .</p>
                    </div>
					
                </div>
            </div>
        </section>
    </main>
	
    <script>
        var acc = document.getElementsByClassName("dropmenu");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("open");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>