    @inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

    
        <div class="content-header">
        <div class="row-container centered">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-1">
                            Privacy Policy
                        </h2>
                        <p class="lead">
                            Kan du ikke finde svar på dit spørgsmål? Kontakt os, og vi skal besvare dit spørgsmål
                            direkte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
    </div>
    <main id="sc-privacypolicy">
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <p><strong><span
                                    style="left: 94.4px; top: 446.06px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">1.
                                </span><span
                                    style="left: 153.44px; top: 446.06px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.01105);">INDLEDNING
                                </span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 494.66px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">1.1
                            </span><span
                                style="left: 153.44px; top: 494.66px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00313);">Selskabet
                                tager beskyttelse af persondata alvorligt og ønsker at være en seriøs og sikker
                            </span><span
                                style="left: 153.44px; top: 513.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00282);">samarbejdspartner
                                for vores kunder og samarbejdspartnere. </span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 542.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">1.2
                            </span><span
                                style="left: 153.44px; top: 542.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0029);">Selskabet
                                har derfor udarbejdet denne privatlivspolitik, så du ved hvordan Selskabet
                                be</span><span
                                style="left: 153.44px; top: 562.06px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00292);">handler
                                de personoplysninger der indsamles.</span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 591.26px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">1.3
                            </span><span
                                style="left: 153.44px; top: 591.26px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00293);">Selskabet
                                foretager løbende en vurdering af den risiko der er forbundet med udvekslingen
                            </span><span
                                style="left: 153.44px; top: 610.46px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00313);">af
                                de pågældende persondata, og om </span><span
                                style="left: 436.083px; top: 610.46px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00529);">udvekslingen
                                kan påvirke dine grundrettigheder. </span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 639.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">1.4
                            </span><span
                                style="left: 153.44px; top: 639.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00282);">I
                                de tilfælde hvor det er nødvendigt for Selskabet at behandle personfølsomme
                                oplysninger </span><span
                                style="left: 153.44px; top: 658.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00269);">om
                                dig vil der blive foretaget en konsekvensanalyse forinden de pågældende data
                                behand</span><span
                                style="left: 153.44px; top: 677.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.998726);">les.
                            </span><span
                                style="left: 94.4px; top: 736.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);"></span>
                        </p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 94.4px; top: 736.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">2.
                                </span><span
                                    style="left: 153.44px; top: 736.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.04179);">KONTAKTOPLYSINGER:</span></strong>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 784.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">2.1
                            </span><span
                                style="left: 153.44px; top: 784.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.994457);">Sels</span><span
                                style="left: 185.633px; top: 784.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00323);">kabet
                                kan til enhver tid kontaktes på følgende måder:</span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 842.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">2.1.1
                            </span><span
                                style="left: 212.633px; top: 842.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.998929);">Mail:
                            </span><span
                                style="left: 252.433px; top: 842.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00338);">kontakt@startupcentral.dk</span>
                        </p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 872.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">2.1.2
                            </span><span
                                style="left: 212.633px; top: 872.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.03482);">Telefon:
                                29 29 01 13</span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 901.344px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">2.1.3
                            </span><span
                                style="left: 212.633px; top: 901.344px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00144);">Adresse:
                                Søndergade 49, 8700 Horsens</span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 930.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">2.1.4
                            </span><span
                                style="left: 212.633px; top: 930.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.999);">CVR:
                            </span><span
                                style="left: 257.033px; top: 930.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.003);">39
                                31 99 42</span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 94.4px; top: 988.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">3.
                                </span><span
                                    style="left: 153.44px; top: 988.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.01732);">HVORNÅR
                                    INDSAMLER VI</span><span
                                    style="left: 366.483px; top: 988.544px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0599);">DINE
                                    DATA:</span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 1037.14px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">3.1
                            </span><span
                                style="left: 153.44px; top: 1037.14px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00232);">Selskabet
                                indsamler først dine data i </span><span
                                style="left: 427.683px; top: 1037.14px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00411);">det
                                øjeblik vi anmoder herom, og vi orienterer dig om </span><span
                                style="left: 153.44px; top: 1056.34px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00302);">hvilke
                                data vi indsamler og til hvilke formål de pågældende data indsamles.</span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 1085.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">3.2
                            </span><span
                                style="left: 153.44px; top: 1085.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00558);">Selskabet
                                indhenter ikke data fra tredje parter.</span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 94.4px; top: 1143.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">4.
                                </span><span
                                    style="left: 153.44px; top: 1143.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.04463);">HVILKE
                                    DATA INDSAMLE</span><span
                                    style="left: 357.283px; top: 1143.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.04925);">S:</span></strong>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 94.4px; top: 1192.18px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">4.1
                            </span><span
                                style="left: 153.44px; top: 1192.18px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00275);">Selskabet
                                anvender dine data for at kunne opfylde en </span><span
                                style="left: 552.917px; top: 1192.18px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00258);">aftale
                                Selskabet er en del af, eller for </span><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);">at
                                kunne besvare din henvendelse.</span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 189.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">4.2
                                </span><span
                                    style="left: 153.44px; top: 189.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00321);">Selskabet
                                    indsamler alene almindeli</span><span
                                    style="left: 419.283px; top: 189.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0043);">ge
                                    persondata, hvilket omfatter </span><span
                                    style="left: 653.117px; top: 189.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.996);">bl.a.
                                </span><span
                                    style="left: 689.117px; top: 189.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00095);">navn
                                    og </span><span
                                    style="left: 153.44px; top: 208.61px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00162);">mailadresse</span><span
                                    style="left: 212.633px; top: 208.61px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00274);">.</span></span>
                        </p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 94.4px; top: 275.81px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">5.</span><span
                                        style="left: 153.44px; top: 275.81px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00389);">DE
                                        REGISTREREDE PERS</span><span
                                        style="left: 362.683px; top: 275.81px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.04085);">ONDATA
                                        ANVENDES TIL:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 334.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">5.1
                                </span><span
                                    style="left: 153.44px; top: 334.41px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00307);">Selskabet
                                    indsamler og registrer alene persondata til følgende formål:</span></span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 363.61px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">5.1.1
                                </span><span
                                    style="left: 212.633px; top: 363.61px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00382);">Administrative
                                    formål.</span></span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 392.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">5.1.2
                                </span><span
                                    style="left: 212.633px; top: 392.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00306);">Opfyldelse
                                    af en aftale indgået med Selskabet.</span></span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 421.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">5.1.3
                                </span><span
                                    style="left: 212.633px; top: 421.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00937);">Til
                                    opfyld</span><span
                                    style="left: 279.233px; top: 421.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00283);">else
                                    af en anmodning i relation til Selskabets ydelser.</span></span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 451.06px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995579);">5.1.4
                                </span><span
                                    style="left: 212.633px; top: 451.06px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00215);">Stillingsbesættelse.</span></span>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 480.26px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">5.2
                                </span><span
                                    style="left: 153.44px; top: 480.26px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00298);">Dine
                                    persondata indsamles alene til opfyldelse af ovennævnte formål, og såfremt der
                                    skul</span><span
                                    style="left: 153.44px; top: 499.46px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);">le
                                    vise sig behov for at behandle de pågældende data til andet formål, vil du blive
                                </span><span
                                    style="left: 755.767px; top: 499.46px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00551);">bedt
                                    om </span><span
                                    style="left: 153.44px; top: 518.66px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00378);">at
                                    samtykke hertil, med</span><span
                                    style="left: 324.683px; top: 518.66px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00288);">mindre
                                    samtykke ikke er nødvendigt. </span><span
                                    style="left: 600.717px; top: 518.66px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00294);">I
                                    så fald vil vi blot oplyse dig </span><span
                                    style="left: 153.44px; top: 537.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00392);">om
                                    sådanne formål.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 94.4px; top: 595.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">6.</span><span
                                        style="left: 153.44px; top: 595.86px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.04225);">RELEVANT
                                        PERSONDATA:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 644.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">6.1
                                </span><span
                                    style="left: 153.44px; top: 644.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00245);">Selskabet
                                    begrænser til enhver tid den persondata der behandles om dig til det
                                    nødvendi</span><span
                                    style="left: 153.44px; top: 663.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00322);">ge,
                                    og sikrer således at der ikke b</span><span
                                    style="left: 402.683px; top: 663.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00263);">ehandles
                                    eller opbevares unødig persondata. </span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 692.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">6.2
                                </span><span
                                    style="left: 153.44px; top: 692.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00269);">Formålet
                                    med registreringen af den pågældende data afgør hvilke persondata der
                                    behand</span><span
                                    style="left: 153.44px; top: 711.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0025);">les
                                    om dig, dog behandles maksimalt persondata der er nødvendig for at kunne opfylde
                                    de </span><span
                                    style="left: 153.44px; top: 731.094px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00285);">I
                                    pkt. 5 anførte formål.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">6.3
                                </span><span
                                    style="left: 153.44px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00168);">Selskabet
                                    hen</span><span
                                    style="left: 258.833px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.005);">stiller
                                    til, at der ikke </span><span
                                    style="left: 405.483px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00059);">fremsendes
                                </span><span
                                    style="left: 497.083px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0009);">person</span><span
                                    style="left: 548.117px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00257);">oplysninger
                                    af følsom karakter </span><span
                                    style="left: 775.967px; top: 760.294px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1);">til
                                </span><span
                                    style="left: 153.44px; top: 779.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00179);">Selskabet
                                    eller </span><span
                                    style="left: 267.233px; top: 779.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00439);">gennem
                                    Selskabets </span><span
                                    style="left: 418.483px; top: 779.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00336);">tjenester/hjemmeside</span><span
                                    style="left: 576.917px; top: 779.494px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00336);">,
                                    herunder oplysninger om race </span><span
                                    style="left: 153.44px; top: 798.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00444);">og
                                    etnisk oprindelse, politiske holdninger, religiøs og filosofisk opfattelse,
                                    fagforeningsmæssigt </span><span
                                    style="left: 190.633px; top: 817.694px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00254);">tilhørsforhold,
                                    genetisk og biometrisk data, helbredsoplysninger eller seksualitet </span><span
                                    style="left: 153.44px; top: 836.894px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00266);">og
                                    seksuel orientering.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 94.4px; top: 895.144px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">7.</span><span
                                        style="left: 153.44px; top: 895.144px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.03479);">NØDVENDIGE
                                        DATA:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 953.744px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">7.1
                                </span><span
                                    style="left: 153.44px; top: 953.744px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00297);">Selskabet
                                    anvender og behandler alene de data som er nødvendige for at kunne opfylde
                                </span><span
                                    style="left: 153.44px; top: 972.744px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00199);">de
                                    i pkt. 5 fastsatte formål herunder at </span><span
                                    style="left: 438.683px; top: 972.744px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00254);">opfylde
                                    en aftale med dig eller besvare en henven</span><span
                                    style="left: 153.44px; top: 991.944px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.998248);">delse.</span></span>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 1021.14px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">7.2
                                </span><span
                                    style="left: 153.44px; top: 1021.14px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00328);">Selskabet
                                    arbejder løbende på ved organisatoriske tiltag og opdatering af programmer at
                                </span><span
                                    style="left: 153.44px; top: 1040.34px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00249);">sikre
                                    at mængden af persondata altid begrænses mest muligt. </span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 1069.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">7.3
                                </span><span
                                    style="left: 153.44px; top: 1069.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0029);">Det
                                    kan udover de data der er nødvendige for at op</span><span
                                    style="left: 532.317px; top: 1069.54px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00316);">fylde
                                    de i pkt. 5 anførte formål ligeledes </span><span
                                    style="left: 153.44px; top: 1088.74px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00424);">være
                                    nødvendigt at indsamle yderligere oplysninger, dersom dette er nødvendigt i
                                    relation </span><span
                                    style="left: 153.44px; top: 1107.74px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00222);">til
                                    gældende lovgivning.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 94.4px; top: 1165.98px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.995312);">8.</span><span
                                        style="left: 153.44px; top: 1165.98px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.02237);">KONTROL
                                        OG OPDATERIN</span><span
                                        style="left: 369.283px; top: 1165.98px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.06157);">G:</span></span></strong>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 94.4px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(0.99574);">8.1
                                </span><span
                                    style="left: 153.44px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00156);">Selskabet
                                    sør</span><span
                                    style="left: 255.233px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);">ger
                                    for løbende at kontrollere</span><span
                                    style="left: 473.883px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00365);">de
                                    registrerede person</span><span
                                    style="left: 641.717px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00319);">data
                                </span><span
                                    style="left: 678.717px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.01801);">og
                                </span><span
                                    style="left: 701.917px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00398);">opdaterer
                                    disse</span><span
                                    style="left: 816.967px; top: 1214.58px; font-size: 16.6px; font-family: sans-serif;">,
                                </span><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">når
                                    der er ændringer heri.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">8.2
                                    Du kan som registreret til enhver tid meddele os, såfremt der er sket ændringer
                                    i dine persondata herunder i særlig grad dine kontaktoplysninger. Henvendelse
                                    kan ske via kontaktoplysningerne i denne privatlivspolitik.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">8.3
                                    Selskabet har endvidere vedtaget interne retningslinjer for kontrol og
                                    opdatering af persondata.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">9.
                                        SLETNING:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">9.1
                                    Selskabet sørger for løbende at slette persondata der ikke længere er nødvendig
                                    eller relevant for de i pkt. 5 anførte formål.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">9.2
                                    Selskabet opbevarer som udgangspunkt oplysninger til bogføring 5 år tilbage i
                                    tid samt almindelige kontaktoplysninger op til 1 år efter
                                    kontraktudløb.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">9.3
                                    Du kan til enhver tid begære dine persondata slettet, såfremt Selskabet ikke er
                                    berettiget til at opbevare dine persondata uden dit samtykke, eller de
                                    pågældende oplysninger er nødvendige for at Selskabet kan opfylde den indgåede
                                    aftale eller anmodning.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">10.
                                        SAMTYKKE:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">10.1
                                    Selskabet indhenter ikke dit samtykke til de i pkt. 5 anførte formål, idet
                                    Selskabet er nødsaget til at behandle dine almindelige personoplysninger, for at
                                    kunne opfylde en aftale med dig eller besvare din henvendelse eller
                                    anmodning.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">10.2
                                    I det tilfælde at dine persondata ønskes anvendt til andre formål end de i pkt.
                                    5 anførte, vil du blive bedt om at samtykke heri, inden behandlingen påbegyndes,
                                    såfremt samtykke er nødvendigt.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">11.
                                        VIDEREGIVELSE:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">11.1
                                    Selskabet videregiver ikke dine persondata til tredjelande eller andre aktører
                                    med mindre vi har samtykke hertil eller det er nødvendigt for at opfylde en
                                    aftale med dig.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">11.2
                                    Selskabet er dog berettiget til at gøre brug af databehandlere, og kan i den
                                    anledning overgive dine relevante persondata hertil.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">11.3
                                    Selskabet er også berettiget til at videregive oplysninger til Selskabets
                                    samarbejdspartnere, i det omfang du har anmodet herom, eksempelvis ved
                                    oprettelse af en brugerprofil hos en af Selskabets
                                    samarbejdspartnere.</span></span></p>
                        <p>&nbsp;</p>
                        <p><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">12.
                                        SIKKERHED: </span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">12.1
                                    Selskabet har interne regler for håndteringen af dine persondata. Retningslinjer
                                    der sammen med Selskabets sikkerhedsforanstaltninger sikrer at dine persondata
                                    beskyttes og sikres imod tilintetgørelse, tab, ændring, uautoriseret
                                    videregivelse eller adgang.</span></span></p>
                        <p>&nbsp;</p>
                        <p><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);"></span></span><strong><span
                                    style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                        style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">13.
                                        COOKIES:</span></span></strong></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">13.1
                                    Hvis vi placerer cookies på dit IT-udstyr, bliver du informeret om anvendelsen
                                    og formålet med at indsamle persondata via cookies.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">13.2
                                    Før vi placerer cookies på dit udstyr, beder vi om dit samtykke. Nødvendige
                                    cookies til sikring af funktionalitet og indstillinger kan dog anvendes uden dit
                                    samtykke.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">13.3
                                    Du kan få flere oplysninger på vores hjemmeside om vores brug af cookies, og om
                                    hvordan du kan slette eller afvise dem. Hvis du vil tilbagekalde dit samtykke,
                                    så se vejledningen under vores cookie-politik.</span></span></p>
                        <p>&nbsp;</p>
                        <p><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);"><strong>DU
                                        HAR RET TIL:</strong></span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.1
                                    Du har altid ret til at få adgang til de persondata som Selskabet har
                                    registreret omkring dig, herunder at få oplyst hvilke data vi opbevarer omkring
                                    dig, hvor de er indsamlet fra, hvad vi skal bruge dem til. Hvis du ønsker det,
                                    kan du også få oplyst, hvor længe vi opbevarer dine persondata, hvem der
                                    opbevarer dem og hvor, samt hvem vi deler dine data med, hvis vi deler
                                    disse.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.2
                                    Der er i visse tilfælde oplysninger, som Selskabet ikke udleverer, eksempelvis
                                    hvor andre privatpersoners privatlivsbeskyttelse vejer tungere, hensyn til
                                    immaterielle rettigheder og forretningshemmeligheder.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.3
                                    Hvis du vil gøre brug af dine rettigheder, skal du blot kontakte Selskabet på en
                                    af følgende måder:</span></span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.3.1
                                    pr. tlf. på 29 29 01 13</span></span></p>
                        <p style="padding-left: 80px;"><span style="font-family: sans-serif; font-size: 16.6px;">14.3.2
                                pr. mail på
                                kontakt@startupcentral.dk</span></p>
                        <p style="padding-left: 80px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.3.3
                                    pr. brev på <span
                                        style="left: 212.633px; top: 901.344px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00144);">Søndergade
                                        49, 8700 Horsens</span></span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.4
                                    I tilfælde af at Selskabet har registreret persondata omkring dig, og du bliver
                                    bekendt med, at de registrerede data ikke er korrekte eller unøjagtige, er du
                                    berettiget til at anmode om, at de ukorrekte data slettes og de unøjagtige data
                                    rettes.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.5
                                    Du skal sende information om de data du måtte mene er unøjagtige eller forkerte,
                                    hvorefter Selskabet vil tage sig af sagen.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.6
                                    Der kan være tilfælde, hvor du ikke er enig i, at vi behandler dine persondata.
                                    I disse tilfælde kan du anmode Selskabet om at slette de pågældende data. Det
                                    kan du ligeledes </span></span><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">gøre
                                    såfremt du mener, at Selskabet behandler data i strid med lovgivningen,
                                    behandlingen ikke længere er nødvendig eller at du har trukket dit samtykke
                                    tilbage til behandlingen.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.7
                                    Selskabet vurderer herefter om der er baggrund for at efterkomme ønsket om
                                    sletning eller rettelse af persondata. Er der baggrund for at gennemføre
                                    sletning eller rettelse, vil dette ske hurtigst muligt.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.8
                                    Du kan til enhver tid gøre indsigelse overfor Selskabets behandling af dine
                                    persondata, eller mod at Selskabet videregiver dine data.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.9
                                    I tilfælde af at du ønsker at gøre indsigelse kan du kontakte Selskabet på de i
                                    pkt. 14.3. anførte måder, med angivelse af hvilken behandling du gør indsigelse
                                    imod, og hvorfor.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.10
                                    Er din indsigelse berettiget, vil Selskabet stoppe med at behandle dine
                                    persondata, og vil enten slette eller tilbagelevere disse til dig.</span></span>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.11
                                    Du har ret til at få de persondata retur, som du måtte have stillet til rådighed
                                    for Selskabet, eller de data som Selskabet har indhentet fra andre på baggrund
                                    af din accept heraf. Er du part i en aftale med Selskabet, kan du ligeledes få
                                    dine persondata retur, dog har Selskabet ret til at behandle de persondata, der
                                    er nødvendige for at kunne opfylde aftalen med dig.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.12
                                    Du er ligeledes berettiget til at få overført dine persondata til en anden
                                    tjenesteudbyder, såfremt du måtte ønske det og det er foreneligt med den
                                    indgåede aftale.</span></span></p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.13
                                    I de tilfælde hvor Selskabet skal tilbagelevere eller videregive persondata, vil
                                    de blive leveret i et normalt anvendt format.</span></span><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);"></span></span>
                        </p>
                        <p style="padding-left: 40px;"><span
                                style="left: 153.44px; top: 1211.38px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.0027);"><span
                                    style="left: 153.44px; top: 1233.58px; font-size: 16.6px; font-family: sans-serif; transform: scaleX(1.00225);">14.14
                                    Selskabet bestræber sig på at besvare henvendelser så hurtigt som muligt og
                                    senest en måned fra indsigelsens modtagelse, dog kan der i perioder forekomme
                                    travlhed, der kan afstedkomme længere sagsbehandlingstid. I tilfælde heraf vil
                                    du blive orienteret herom.</span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>