@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Startup Noise
                    </h2>
                    <p class="lead">
                        En ærlig podcast om iværksætteri
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>

<main id="sc-podcast">
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column">
                        <h3 class="headline-3">Startup Noise af Anders Fogh & Jakob Sloth</h3>
                        <p>
                            <strong>Starup Noise</strong> er en podcast mellem ekspert-caster Jakob Sloth og
                            amatør-caster Anders Fogh.
                        </p>
                        <p>
                            Anders har sat agendaen for podcasten, som er en hudløs ærlig og uforberedt podcast - altså en podcast uden script og er stik modsat hvad eksperten selv gør. Det betyder, at det er 100% autentiske svar.
                        </p>
                        <p>
                            Indholdet vil variere, men det vil alt sammen omhandle iværksætteri på den ene eller den anden måde. Formålet er at besvare de forskellige FAQs (ofte stillede spørgsmål), som Startup Central støder på - og som den grønne iværksætter, Jakob, selv har oplevet.
                        </p>
                        <p><strong>Lyt med her.</strong></p>
                        <p>
                            <strong>
                                Husk også at tjekke vores <a href="/pris/" class="link">medlemskab</a>
                                ud.
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="column-container column-6">
                    <div class="column">
                        <iframe src="https://widget.spreaker.com/player?show_id=4342381&amp;theme=light&amp;playlist=show&amp;playlist-continuous=true&amp;playlist-loop=false&amp;playlist-autoupdate=true&amp;autoplay=false&amp;live-autoplay=false&amp;chapters-image=true&amp;episode_image_position=right&amp;hide-likes=false&amp;hide-comments=false&amp;hide-sharing=false&amp;hide-logo=false&amp;hide-download=true&amp;hide-episode-description=false&amp;hide-playlist-images=false&amp;hide-playlist-descriptions=false&amp;gdpr-consent=null&amp;cover_image_url=https:&quot;https:\/\/d3wo5wojvuv7l.cloudfront.net\/images.spreaker.com\/original\/fc42b08bbeb3ec30a7ac178d49e68865.jpg&quot;"
                                class="spreaker-player" id="spreaker-player-74051" width="100%" height="500px"
                                frameborder="0"></iframe>
                        <script async="" src="https://widget.spreaker.com/widgets.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>