@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}


<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Startup Lounge
                    </h2>
                    <p class="lead">
                        Et eksklusivt netværk for iværksættere, erhvervsdrivende og folk med interesse for
                        forretning.
                        Her er der fokus på vidensdeling og at gøre det nemmere at være selvstændig og iværksætter.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>

<main class="sc-guest-startuplounge">
    <section>
        <div class="row-container">
            <div class="row center-align-columns">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hvad er Startup Lounge?</h3>
                        <p>
                            Startup Lounge er et netværk fyldt med iværksættere, erhvervsdrivende og folk med
                            interesse for forretning. Det er et netværk, hvor du kan stille alle de spørgsmål, som
                            du har behov for. Du vil få sparring, gode tips og vejledning af andre, som har stået i
                            samme situation som dig.
                        </p>
                        <p>
                            Netværket har fokus på videndeling - det inkluderer den nyeste udvikling inden for
                            iværksætter branchen, events og andet relevant info for iværksætteri.
                        </p>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <img class="content-image" src="/media/2408/startup-lounge.svg" alt="Startup Lounge">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">
                            Hvad får du som del af Startup Lounge?
                        </h3>
                        <p>
                            Hos Startup Lounge bliver du en del af et allerede etableret netværk, som har givet
                            værdi til mange selvstændige og iværksættere før dig. Du får en masse fordele som
                            medlem:
                        </p>
                        <ul>
                            <li>
                                Sparring, tips og vejledning fra erfarne erhvervsfolk, forretningsdrivende og folk
                                med interesse for forretning.
                            </li>
                            <li>
                                Sparring med forretningsdrivende inden for din egen branche.
                            </li>
                            <li>
                                Garanteret kompetent feedback fra vores administratorer og coaches, som har mange
                                års erfaring inden for produktion, strategisk planlægning, sourcing, markedsføring
                                og meget mere.
                            </li>
                            <li>
                                Mulighed for at interagere i et professionelt, informativt og givende netværk af
                                successkabelse.
                            </li>
                            <li>
                                Mulighed for at finde samarbejdspartnere og potentielle kunder.
                            </li>
                            <li>
                                Mulighed for at promovere din virksomhed.
                            </li>
                            <li>
                                Indsigt i nye samarbejdspartnere, tilbud, coaches og tiltag fra Startup Central,
                                m.m.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Hvad gør Startup Lounge unik?</h3>
                        <p>
                            Du får muligheden for at sparre med andre medlemmer, vores erhvervscoaches og vores
                            administrator team. Alle vores medlemmer er dedikerede, målrettede og stræber efter
                            succes, derfor er de også ivrige efter at hjælpe dig, da vi sammen kan vækste Danmark og
                            dermed skabe bedre vilkår for alle selvstændige og iværksættere.
                        </p>
                        <p>
                            I Startup Lounge kan du promovere dit brand, produkt, virksomhed eller idé og du har
                            mulighed for at finde samarbejdspartnere og/eller potentielle kunder. Når du stiller
                            spørgsmål, sætter vi dig i forbindelse med relevante medlemmer eller coaches, så du får
                            den bedste sparring.
                        </p>
                        <p>
                            Netværket har en rolig og uformel tone. Alle bliver hørt og ingen spørgsmål er for små
                            eller store til at blive besvaret. I andre netværksgrupper er det ofte kun de største
                            virksomheder med flest følgere, som får et ord indført - sådan er det ikke her. I
                            Startup Lounge er det udelukkende selvstændige og iværksættere som interagerer. Dét
                            mener vi gør netværket unikt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column content-column">
                        <h3 class="headline-3">Sådan får du adgang til Startup Lounge</h3>
                        <p>
                            For at få adgang til den eksklusive netværksgruppe, skal du være medlem af Startup
                            Central. Herefter kan du frit benytte netværket og dets mange ressourcer.
                        </p>
                        <p>
                            Du kan altid anmode om at blive medlem af netværket, men det er først når din tilmelding
                            i Startup Central er godkendt, at du får adgang og kan interagere i Startup Lounge
                            netværket.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://www.facebook.com/groups/startup.lounge/"
                           class="button button--lg">Se Startup Lounge her</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>