@inherits Umbraco.Web.Mvc.UmbracoViewPage

<section class="nfp-section-separator" style="position:relative; top: -40px">
    <div class="nfp-section-separator__item">

        @*<div class="nfp-trustpilot_picture">
            <img src=@Umbraco.Media(38339).Url>
        </div>*@
    </div>
</section> 
