@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div class="content-header">
        <div class="row-container centered">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-1">
                            Iværksætternetværk
                        </h2>
                        <p class="lead">
                            Ingen ved alt, derfor er det vigtigt med et netværk
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
    </div>

    <main class="sc-guest-entrnetwork">
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Effektivt iværksætternetværk</h3>
                            <p>
                                Om du går med en iværksætterdrøm i tankerne eller om du allerede har en
                                etableret virksomhed, så ved du hvor vigtigt
                                et effektivt iværksætternetværk er. Hos Startup Central har vi et eksklusivt
                                netværk med erfarne erhvervsfolk, som
                                hedder Startup Lounge; netværket kan hjælpe dig med alle de udfordringer der
                                følger med dét at drive en virksomhed.
                            </p>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="column">
                            <img src="/media/2411/network.svg" alt="Network" class="content-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row-container">
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">
                                Få et effektivt iværksætternetværk
                            </h3>
                            <p>
                                Mange iværksættere peger på den samme udfordring; de føler at de mangler et relevant
                                iværksætternetværk eller at deres nuværende netværk er for lille.
                            </p>
                            <p>
                                Når du starter som iværksætter er det ikke nødvendigvis inden for den samme branche,
                                som du hidtil har beskæftiget dig inden for. Det gør, at det netværk som du befinder
                                dig i, og har erhvervet dig gennem tiden, ikke længere er tilstrækkeligt. Det dækker
                                ikke de nye behov, du har fået ved opstart af virksomhed i en anden branche. Der er
                                ingen tvivl om, at det nuværende netværk gerne vil hjælpe, men netværket har ofte
                                ikke den nødvendige viden.
                            </p>
                            <p>
                                Når du vil opbygge et effektivt netværk, kan du med fordel overveje de nedstående
                                punkter.
                            </p>

                            <ul>
                                <p>
                                    <strong>
                                        Overvej hvad det er du mangler i dit
                                        eksisterende iværksætternetværk
                                    </strong>
                                </p>
                                <li>Faglig sparring?</li>
                                <li>Salgsnetværk</li>
                                <li>Netværk som du kan bruge som en slags kollegaer?</li>
                                <li>Netværk, hvor du kan få et hurtigt tip?</li>
                            </ul>
                            <ul>
                                <p>
                                    <strong>
                                        Overvej hvilket netværk der er vigtigt for dig og din virksomhed
                                    </strong>
                                </p>
                                <li>Online forum og blogs</li>
                                <li>Online netværkstjenester</li>
                                <li>Brancheforening</li>
                                <li>Faglig netværksgruppe</li>
                                <li>Social netværksgruppe</li>
                                <li>Relevante events, konferencer og kurser</li>
                                <li>Professionelle netværk</li>
                            </ul>
                            <p>
                                <strong>
                                    Besøg netværket
                                </strong>
                            </p>
                            <p>
                                Brug lidt tid på at researche i netværket, inden du for alvor går i gang med at
                                bruge det. Der findes rigtig mange netværker og det er vigtigt, at du befinder dig i
                                det rigtige. Du kan hurtigt komme i et netværk, som udadtil ser relevant ud for dig,
                                men som i sidste ende ikke giver dig den værdi du har behov for.
                            </p>
                            <p>
                                Der er flere netværker hvor du kan se med som gæst; brug lidt tid her, for at finde
                                ud af om det relevant for dig. På den måde sparer du en masse tid og penge, ved ikke
                                at befinde dig i et forkert netværk.
                            </p>
                            <p>
                                I et online netværk kan du observere hvordan de andre medlemmer interagerer, og
                                bedømme om interaktionen skaber værdi for dig. Præsentér dig og din virksomhed i
                                netværket, så de øvrige medlemmer kan lære dig at kende. På den måde kan de også
                                bedst vejlede dig.
                            </p>
                            <p>
                                Et par bonus tips når du netværker:
                            </p>
                            <ul>
                                <li>Vær åben, optimistisk og ha’ en positiv indstilling.</li>
                                <li>Husk at alle du møder på din vej, kan være en potentiel kunde eller føre dig
                                    til din næste kunde.</li>
                                <li>Hjælp andre – det kommer tifold tilbage.</li>
                                <li>Du er hvad du gør - alt det du gør, bliver identificeret med din virksomhed.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Hvad er et effektivt iværksætternetværk?</h3>
                            <p>
                                Et effektivt iværksætternetværk er et netværk, som skaber værdi for dig og din
                                virksomhed. Det er derfor vigtigt, at du er klar over hvad der gør dit netværk helt
                                unikt.
                            </p>
                            <p>
                                Et salgsnetværk er essentielt for dig, som har helt styr på alt der er at vide,
                                omkring det at drive en virksomhed, men gerne vil booste dit salg. Går du derimod
                                med en iværksætter drøm i tankerne, men ikke ved hvor du skal starte, er et netværk
                                med erfarne iværksættere du kan sparre med essentielt for dig.
                            </p>
                            <p>
                                Alle erfarne iværksættere har på et tidspunkt i deres iværksætter liv stået med
                                samme udfordringer som dig, derfor kender de til din bekymring og er klar til at
                                hjælpe dig med et par gode råd.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Hvorfor er et godt iværksætternetværk vigtigt?</h3>
                            <p>
                                Der er flere grunde til, at et iværksætternetværk er vigtigt.
                            </p>
                            <ul>
                                <li>Forbindelser til kunder, samarbejdspartnere og investorer.</li>
                                <li>Gode tips og sparring.</li>
                                <li>Videndeling.</li>
                                <li>Undgå fejl som andre har begået.</li>
                                <li>Vær med til at vækste Danmark.</li>
                            </ul>
                            <p>
                                Du skal ikke nødvendigvis arbejde hårdt, for at oparbejde et netværk, men du skal
                                huske de mennesker, du møder, se
                                muligheder i mennesker og vælge samarbejdspartnere med omhu. Hvis du har dét in
                                mente, får du hurtigt og nemt opbygget
                                dit eget unikke iværksætternetværk, som skaber mest værdi for dig.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Digitalt iværksætternetværk</h3>
                            <p>
                                Et digitalt iværksætternetværk er en fordel for dig, som starter virksomhed. Ved et
                                digitalt netværk har du alle dine forbindelser lige ved hånden.
                            </p>
                            <p>
                                Et fysisk iværksætternetværk tager lang tid at skabe og opretholde, både for dig og
                                dine relationer. Denne tid kunne
                                bruges på andre dele af din virksomhed. Et digitalt netværk derimod kan hurtigt give
                                dig et godt tip og hurtigt råd.
                            </p>
                            <p>
                                Der findes mange forskellige iværksætternetværker, vær derfor opmærksom på,
                                hvilke(t) der giver mest værdi for dig og
                                din virksomhed.
                            </p>
                            <p>
                                Som medlem af Startup Central får du adgang til et eksklusivt netværk af erfarne
                                iværksættere. Her kan du få sparring om, alt du skal vide ved at starte og drive
                                virksomhed.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column-container">
                        <div class="column content-column">
                            <h3 class="headline-3">Startup Lounge</h3>
                            <p>
                                <a href="/startup-lounge/" class="link">Startup Lounge</a> er et mødested for
                                iværksættere, erhvervsdrivende og folk med
                                interesse for forretning.
                            </p>
                            <p>
                                Formålet er at give og modtage vejledning, ved at dele oplevelser og erfaring om
                                iværksætteri og virksomheds drift. Som
                                medlem af iværksætternetværket, Startup Lounge, bliver du en del af et allerede
                                etableret netværk, som har givet værdi
                                for mange iværksættere inden for forskellige brancher før dig.
                            </p>
                            <p>
                                Det er en eksklusiv netværksgruppe, hvor der ikke findes dumme spørgsmål. Vi hos
                                Startup Central vil være aktive derinde
                                og sørger for, at vores mange coaches sættes i forbindelse med dig. Du kan bl.a.
                                forvente at der vil være deling af den
                                nyeste udvikling indenfor iværksætter branchen, events, og andet relevant info for
                                iværksættere, fokusset er nemlig på
                                vidensdeling.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>