@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{ 
    Layout = "Master.cshtml";
}

<div class="content-header">
    <div class="row-container centered">
        <div class="row">
            <div class="column-container">
                <div class="column centered">
                    <h2 class="headline-1">
                        Cookiepolitik
                    </h2>
                    <p class="lead">
                        Cookiepolitik af Startup Centrals portal
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="content-header__image" src="/media/2375/header400px.svg" alt="StartupCentralHeader">
</div>

<main class="sc-guest-termsofuse">
    <div class="row-container">
        <div class="row">
            <div class="column-container">
                <div class="content-column column" id="cookie-policy-container">
                    
                </div>
            </div>
        </div>
    </div>
</main>