@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Wizardmaster>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
Layout = "Master.cshtml";
<section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="formwrapper shadowlight">
                <div class="leftnavi bluebg col-md-3">
                v
                </div>
                <div class="rightform col-md-8">
                v
                </div>
            </div>
        </div>
    </div>
</div>
</section>
}