#sc-home-page #sc-home-priser .priser-title-container .row-container .row .column-container .column .price-card-container .price-card__price::after,
.sc-pricing-page .row-container .row .column-container .column .price-card-container .price-card__price::after,
.choose-plan__price-cards .row .column-container .column .price-card-container .price-card__price::after,
#sc-payment section .row-container .row .column-container .column .price-card-container .price-card__price::after {
    content: 'kr'; /*'kr./md'*/
    position: relative;
    font-size: 2rem;
}

#sc-home-page > #sc-home-priser > .priser-title-container > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after,
.sc-pricing-page > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after,
.choose-plan__price-cards > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after {
    
    /*content: 'kr./md';*/
    content: 'kr.';
}

#sc-home-page > #sc-home-priser > .priser-title-container > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after,
.sc-pricing-page > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after,
#sc-payment section > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(2) > .price-card__price::after {
    
    /*content: 'kr./md';*/
    content: 'kr.';
}

#sc-home-page > #sc-home-priser > .priser-title-container > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(3) > .price-card__price::after,
.sc-pricing-page > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(3) > .price-card__price::after,
.choose-plan__price-cards > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(3) > .price-card__price::after,
#sc-payment section > .row-container > .row > .column-container > .column > .price-card-container > .price-card:nth-of-type(3) > .price-card__price::after {
    /*content: 'kr./md';*/
    content: 'kr.';
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-details__group .amount.monthly::after {
    content: " kr./md.";
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-details__group .amount.quarterly::after {
    content: " kr./kvt.";
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-details__group .amount.yearly::after {
    /*content: " kr./år";*/
    content: " kr.";
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-summary__content .amount.monthly::after {
    content: " kr./md.";
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-summary__content .amount.quarterly::after {
    content: " kr./kvt.";
}

#sc-register-page .confirm-payment .payment-details .details-section .solution-summary__content .amount.yearly::after {
    /*content: " kr./år";*/
    content: " kr.";
}