@inherits Umbraco.Web.Mvc.UmbracoViewPage
    <div class="sc-container ">
        <div class="row pt-5">
            <div class="text-center animate-box sc-heading sc-heading-black">
                <h2>@Umbraco.AssignedContentItem.Value("sectionTitleOne")</h2>
                <p>@Umbraco.AssignedContentItem.Value("sectionSubtitleOne")</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>@Umbraco.AssignedContentItem.Value("sectionContentOne")</p>
            </div>
        </div>
    </div>
