@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="sc-container pt-3">
    <div class="row">
        <div class="text-center animate-box sc-heading sc-heading-black">
            <h2>@Umbraco.AssignedContentItem.Value("sectionTitleThree")</h2>
            <p>@Umbraco.AssignedContentItem.Value("sectionSubtitleThree")</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-1">
            <p>@Umbraco.AssignedContentItem.Value("sectionContentThree")</p>
        </div>
    </div>
</div>
